-# Set content for header first, fixes yields in partial
- content_for :header, render(:partial => '/layouts/partials/header')
!!! Strict
%html{:lang => "nl", "xml:lang" => "nl", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "nl_nl", :name => "language"}/
    - if Devcms.search_configuration[:enabled_search_engines].include?('luminis') && @node
      = generate_metadata_for(@node)
    %title= h [Settler[:site_name], @page_title].compact.join(' | ')
    %link{:href => "http://#{Settler[:host]}/favicon.ico", :rel => "SHORTCUT ICON", :type => "image/vnd.microsoft.icon"}/
    
    = stylesheet_link_tag :application
    = stylesheet_link_tag(layout_configuration['template_color'] || 'default')
    = yield :css

    = javascript_include_tag('devcms_core', 'application')
    
    /[if lte IE 7]
      <haml:loud> stylesheet_link_tag :ie </haml:loud>
    /[if lte IE 6]
      <haml:loud> javascript_include_tag('iepngfix_tilebg.js') </haml:loud>
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};"
    = yield :javascript
    - unless @rss_feed_url.nil?
      %link{:href => @rss_feed_url, :rel => "alternate", :type => "application/atom+xml"}/
    = yield :atom_feed
    = javascript_tag("document.observe('dom:loaded', function () { lightbox = new Lightbox({}); });")
  %body
    #main_container
      = render :partial => '/layouts/partials/content'
      = yield :header
    = render :partial => '/layouts/partials/footer'
    = render :partial => '/layouts/partials/admin_tools'
    - if Settler[:google_analytics_key].present? || current_site.content.analytics_code.present?
      / google analytics code
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{escape_javascript(current_site.content.analytics_code || Settler[:google_analytics_key])}']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  