= form.date_field :publication_start_date_day,  :label => "#{t 'pages.begin_date'}", :value => @page.publication_start_date, :allow_empty => true
= form.time_field :publication_start_date_time, :label => "#{t 'pages.begin_time'}", :value => @page.publication_start_date, :allow_empty => true

= form.text_area   :preamble, :label => t('pages.preamble'), :rows => 5
= form.html_editor :body,     :label => t('pages.body')
