= form.hidden_field :title
= form.hidden_field :publication_start_date
= form.hidden_field :preamble
= form.hidden_field :body
= form.hidden_field :draft

= category_hidden_fields form

= approval_field
