= render :partial => 'show', :locals => { :record => @page }

.forms
  - remote_form_for @page, :method => :get, :url => new_admin_page_path(:format => 'html', :parent_node_id => @parent_node.id), :update => 'right_panel_body' do |form|
    = render :partial => 'preview_form', :locals => { :form => form }
    = form.submit t('shared.edit')

  - remote_form_for @page, :url => admin_pages_path(:format => 'html', :parent_node_id => @parent_node.id), :update => 'right_panel_body' do |form|
    = render :partial => 'preview_form', :locals => { :form => form }
    = form.submit t('shared.save')
