.regularPage
  %h2= record.title

  .content
    - if record.description.present?
      .htmlField
        = w record.description

    = render_images

    - if @children.present?
      = skippable 'section_items' do
        %ul.section_items
          - @children.each do |content_node|
            %li
              = image_tag "icons/#{content_node.try :icon_filename}", :class => 'icon', :alt => '', :title => content_node.title
              = link_to_content_node content_node.title, content_node, {}, :target => '_blank'
