.regularPage
  %h2= record.title

  .content
    - if record.description.present?
      .htmlField
        = w record.description

    = render_images

    - if @children.present?
      = skippable 'section_items', title: t('links_boxes.links') do
        %ul.section_items
          - @children.each do |content_node|
            %li
              = image_tag "icons/#{content_node.try :icon_filename}", class: 'icon', alt: ''
              = link_to_content_node content_node.title, content_node, {}, target: '_blank'
