<div id="right_panel_form"></div>

<script type="text/javascript">
//<![CDATA
Ext.QuickTips.init();

var opinionForm = new Ext.dvtr.ContentNodeFormPanel({
  labelWidth: 140,
  title: '<%= I18n.t("opinions.edit") %> <%=h escape_javascript("'#{@opinion.title}'") -%>',
  bodyStyle: 'padding:10px',
  labelPad: 10,
  border: false,
  monitorValid: true,
  defaults: {
    msgTarget: 'side'
  }
});

<%= render :partial => 'fields' -%>

opinionForm.addButton({
  text: '<%= I18n.t("shared.preview") %>',
  formBind: true,
  handler: function(){
    var customParams = Ext.apply(
      opinionForm.getForm().getValues(),{
        format: 'html',
        commit_type: 'preview',
        _method: 'put'
      }
    );
    rightPanel.load({
      url: '<%= admin_opinion_url(@opinion) -%>',
      method: 'POST',
      params: Ext.ux.prepareParams(defaultParams, customParams),
      callback: function(options, success, response){
        if (!success){
            Ext.ux.alertResponseError(response, '<%= I18n.t("opinions.opinion_failed") %>')
        }
      }
    });
  }// end handler
});

opinionForm.addButton({
  text: '<%= I18n.t("shared.save") %>',
  formBind: true,
  handler: function(){
    var customParams = Ext.apply(
      opinionForm.getForm().getValues(),{
        format: 'html',
        commit_type: 'save',
        _method: 'put'
      }
    );
    rightPanel.load({
      url: '<%= admin_opinion_url(@opinion) -%>',
      method: 'POST',
      params: Ext.ux.prepareParams(defaultParams, customParams),
      callback: function(options, success, response){
        if (!success){
            Ext.ux.alertResponseError(response, '<%= I18n.t("opinions.opinion_failed") %>')
        }
      }
    });
  }// end handler
});

// Show validation errors and handle marking of invalid fields.
var errors = <%= raw @opinion.errors.to_json %>
if(errors.length > 0){
    opinionForm.insertErrorMessages('<%= error_messages_for :opinion %>', '<%= @opinion.class.to_s.underscore -%>')   
}

opinionForm.render('right_panel_form')

//]]>
</script>
