.right_panel_content
  %h1= "#{t 'links.add_to_internal'} '#{h @parent_node.content.content_title}'."
  = admin_remote_form_for :internal_link, :url => admin_internal_links_path(:format => :html, :parent_node_id => @parent_node.id), :update => 'right_panel_body' do |form|
    = error_messages_for :internal_link
    
    = form.text_field :title, :label => t('shared.title')
    = form.text_field :title_alternative_list, :label => t('shared.title_alternatives')
    = form.text_area :description, :label => t('shared.description'), :rows => 2
    - txt = "#{t 'links.node_id'}<br/><small>#{t 'links.drag_and_drop'}</small>".html_safe
    = wrap_with_label content_tag(:div, '', :id => 'node_selector'), { :text => txt, :for => 'inter_link_linked_node_id' }, { :id => 'internal_link_linked_node_id_wrapper' }
    = default_fields_after_form form

    :javascript
      ndf = new Ext.dvtr.NodeDropField({
          renderTo: 'node_selector',
          ddGroup: 'TreeAndSorterDD',
          name: 'internal_link[linked_node_id]',
          id: 'link_linked_node_id'
      });

    = category_settings_for :internal_link
    = form.submit t('shared.save')
