%h1== #{t 'users.edit_details_of'} #{@user.login}

= error_messages_for :user

= form_for @user, as: :user, url: secure_url(:url_for, { action: 'update' }), html: { method: :put, id: "edit_user_#{@user.id}" } do |f|

  .formFieldCt.clearfix
    %label{ for: "user_first_name" }= t 'users.first_name'
    = f.text_field :first_name, class: 'textfield'

  .formFieldCt.clearfix
    %label{ for: "user_surname" }
      = t 'users.surname'
    = f.text_field :surname, class: 'textfield'

  .formFieldCt.clearfix
    %label= t 'users.sex'
    .radioButton
      = f.radio_button :sex, 'f'
      %label{ for: "user_sex_f" }
        = t 'users.female'
    .radioButton
      = f.radio_button :sex, 'm'
      %label{ for: "user_sex_m" }
        = t 'users.male'

  .formFieldCt.clearfix
    %label{ for: "user_email_address" }
      = t 'users.email_address'
    = f.text_field :email_address, class: 'textfield'

  .formFieldCt.clearfix
    %label{ for: "user_password" }
      = t 'users.password'
    .left
      = f.password_field :password, class: 'textfield'
      = render :partial => 'shared/password_rater'
      %br/
      %small= t 'users.leave_blank_to_preserve_password'

  .formFieldCt.clearfix
    %label{ for: "user_password_confirmation" }
      = t 'users.password_confirmation'
    = f.password_field :password_confirmation, class: 'textfield'

  .formButtonCt
  .formFieldCt.clearfix
    %label{ for: "user_old_password" }
      = t 'users.old_password'
    .left
      = password_field_tag :old_password, nil, class: 'textfield'
      %br
      %small= t 'users.old_password_explanation'

  .formButtonCt
    = submit_tag t('users.save'), class: 'left submit'
    = link_to    t('users.back'), profile_path, class: 'right'
