= skippable 'attachments_table', title: t('attachments.attachments_overview') do
  %table.attachmentsTable
    %caption= t 'attachments.attachments_table'
    %thead
      %tr
        %th.title{ scope: 'col' }= t 'shared.title'
        %th.type{ scope: 'col' }= t 'shared.type'
        %th.size{ scope: 'col' }= t 'shared.size'
        %th.download{ scope: 'col' }= t 'shared.download'

    %tbody
      - items.each do |node|
        %tr
          %td.title= h node.content.title
          %td.type #{attachment_icon(node.content)}&nbsp;#{node.content.extension}
          %td.size #{number_with_precision(node.content.size.to_f / 1024, precision: 1)} KB
          %td.download= link_to_node t('shared.download'), node, { format: node.content.extension }, title: h(node.content.title)
