.textAboveForm.loginPageText.clearfix
  %h1= t 'sessions.log_in'
  - if Settler[:login_page_text].present?
    = Settler[:login_page_text].html_safe

= form_tag secure_url(:session_url) do
  .loginCt
    .formFieldCt.clearfix
      %label.user{ for: 'login' }
        = t 'sessions.login'
      = text_field_tag 'login', params[:login], class: 'textfield'

    .formFieldCt.clearfix
      %label.user{ for: 'password' }
        = t 'sessions.password'
      = password_field_tag 'password', nil, class: 'textfield'

    %div
      = check_box_tag 'remember_me', '1', params[:remember_me]
      %label{ for: 'remember_me' }
        = t 'sessions.remember'

    .formButtonCt
      = submit_tag t('sessions.log_in'), class: 'submit left'
      %span.right
        = link_to t('sessions.forgot_password?'), new_password_reset_path
