<div class="regularPage feed">

  <h1><%=h @feed.title -%></h1>

  <%= render :partial => '/shared/metadata', :locals => { :last_update_date => @feed.updated_at } %>

  <% @feed.entries[0..3].each_with_index do |entry, i| %>
    <% readspeaker i do |readspeaker_id| %>
    <div class="feedItem">
      <h2><%= link_to h(entry.title), h(entry.url.to_s.strip) -%></h2>

      <div class="clearfix">
        <%=w tidy_html(simple_format(entry.content.to_s.strip)) -%>
      </div>
      <div class="buttons clearfix">
        <%= readspeaker_button(:rid => readspeaker_id) %>
      </div>
    </div>
    <% end %>
  <% end %>

  <% unless @feed.entries[4..20].nil? || @feed.entries[4..20].empty? %>

    <h2><%=t 'feeds.older_feed_items' -%></h2>
    <table cellpadding="0" cellspacing="0" id="items">
      <caption><%= t "feeds.items_caption" %></caption>
      <thead><tr><th scope="col" class="gray"><%=t 'feeds.title' -%></th></tr></thead>
      <tbody>
        <% @feed.entries[4..20].each_with_index do |entry, i| %>
            <tr <% if i.even? %>class="alt"<% end %>>
              <td><%=link_to h(entry.title), h(entry.url.to_s.strip) -%></td>
            </tr>
        <% end %>
    </tbody>
    </table>
  <% end %>

</div>
