.regularPage.feed
  %h1= h @feed.title
  = render partial: '/shared/metadata', locals: { last_update_date: @feed.updated_at }
  - @feed.entries[0..3].each_with_index do |entry, i|
    = readspeaker i do |readspeaker_id|
      .feedItem
        %h2= link_to h(entry.title), h(entry.url.to_s.strip)
        .clearfix
          = w simple_format(entry.content.to_s.encode!('UTF-8', 'UTF-8', invalid: :replace).strip)
        .buttons.clearfix
          = readspeaker_button(rid: readspeaker_id)
  - unless @feed.entries[4..20].nil? || @feed.entries[4..20].empty?
    %h2= t 'feeds.older_feed_items'
    %table#items
      %caption= t 'feeds.items_caption'
      %thead
        %tr
          %th.gray{ scope: 'col' }= t 'feeds.title'
      %tbody
        - @feed.entries[4..20].each_with_index do |entry, i|
          %tr{ class: ('alt' if i.even?) }
            %td= link_to h(entry.title), h(entry.url.to_s.strip)
