.search-page
  .search
    .search-summary
      %p
        %strong #{t('google_site_searches.searched')}:
        - if @query.present?
          %span.blue= @query
        - else
          %span.gray= t 'google_site_searches.empty'

    %ul.search-tabs
      = search_tab('Alles', nil)
      - @facets.each do |facet|
        = search_tab(facet['anchor_text'], facet['label'])

    - if @results.any?
      = render partial: 'pagination', locals: { pagination_class: 'top-search-pagination' }
      = render partial: 'result', collection: @results
      = render partial: 'pagination', locals: { pagination_class: 'bottom-search-pagination' }
    - else
      %p= t 'google_site_searches.no_results'
