- unless news_items.empty?
  - first_item   = news_items.shift
  - header_image = Image.find_accessible(:first, :for => current_user, :include => :node, :conditions => ["nodes.ancestry = :latest_news_ancestry", { :latest_news_ancestry => first_item.node.child_ancestry }])

  - if header_image
    = image_tag(content_box_header_image_path(header_image, :format => :jpg), :alt => h(header_image.title), :class => 'content_box_header')

  .firstNewsItem
    %h2= link_to_content_node first_item.content_title, first_item, { :type => :url, :host => first_item.node.containing_site.content.domain }

    %p.publicationDate
      = l(first_item.publication_start_date.to_date, :format => :long)
    %p= link_to_content_node "#{strip_tags(truncate(first_item.preamble, :length => 200))} #{image_tag('pointer_right.png')}", first_item, { :type => :url, :host => first_item.node.containing_site.content.domain }, :class => 'body'

  %ul
    - news_items.each do |news_item|
      %li= link_to_content_node truncate(h(news_item.content_title), :length => 60), news_item, { :type => :url, :host => news_item.node.containing_site.content.domain }

= read_more_link(content)
