- container = @news_archive || @news_viewer
.regularPage.newsArchive
  = readspeaker(container.node.id) do |readspeaker_id|
    %h1= h container.title

    = render :partial => '/shared/metadata', :locals => { :last_update_date => container.last_updated_at }

    - if container.description.present?
      .htmlField.newsArchiveDescription
        = w container.description
      - if Settler[:readspeaker_cid].present?
        .buttons.clearfix
          = readspeaker_button(:rid => readspeaker_id, :title => h(container.title))

  = render :partial => 'news_archives/archive_header'
  = render :partial => 'news_items/news_items', :locals => { :news_items => @news_items, :news_items_for_table => @news_items, :show_pagination => true }
