.weblogPost
  %h2
    %span.prefix= t 'weblogs.weblog_post'
    = h @weblog_post.title

  .metadata.clearfix
    %p.publicationDate
      #{t 'shared.published'}:
      = l @weblog_post.publication_start_date, format: :long

    - unless @weblog_post.new_record?
      %p.lastUpdateDate
        #{t 'shared.last_updated'}:
        = l @weblog_post.updated_at, format: :long

  - if @weblog_post.preamble
    .preamble
      = simple_format(h(@weblog_post.preamble))

  .htmlField.weblogPostBody
    = process_video_tags(@weblog_post.body)

  - unless @images.empty?
    %div
      %p.clearfix
        %label.left{ for: 'weblog_post_images' }
          = t 'weblogs.images'
      .images-bar.clearfix#images_bar
        = render partial: 'image', collection: @images, locals: { is_form: false }
