<div style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
  <p>
      Beste <%=@editor.full_name-%>,
  </p>
  <p>
    De wijzigingen aan <a href="<%= "http://#{@host}/#{@node.url_alias}" %>"><%= "http://#{@host}/#{@node.url_alias}" %></a> die u gemaakt heeft zijn niet goedgekeurd.
  </p>
  <%- if @reason.present? -%>
  <p>
    De volgende reden is hiervoor opgegeven:
  </p>
  <p>
    "<%= h @reason -%>"
  </p>
  <%- end -%>
  <p>
    Neem voor meer informatie contact op met <a href="mailto:<%= Settler[:mail_approvals_from_address] %>"><%= Settler[:mail_approvals_from_address] %></a>.
  </p>
  <p>
      Met vriendelijke groet,
      <br/><br/>
      Het <%= @host %> team
  </p>
</div>
