.regularPage.weblogArchive
  %h2
    %span.prefix= t 'weblogs.weblog_archive'
    = h @weblog_archive.title

  .htmlField.weblogArchiveDescription
    = w @weblog_archive.description

  .weblogsOverview.clearfix
    .clearfix
      %h3= t('weblogs.weblogs').titleize

    - if @weblogs.blank?
      %p= t 'weblogs.no_weblogs_found'

    - else
      .weblogs
        - @weblogs.each do |weblog|
          .clearfix{ class: cycle('oddWeblog', 'evenWeblog') }
            %h4= link_to h(weblog.title), '#', title: h(weblog.title)

            .clearfix
              .weblogDescription
                = truncate(strip_tags(weblog.description), length: 110)
              .weblogDetails
                %p= "#{t 'weblogs.owned_by'}: <span class='userLogin'>#{truncate(weblog.user.login, length: 12)}</span>"
                - unless weblog.weblog_posts.empty?
                  %p
                    #{t 'weblogs.last_post'}:
                    = l weblog.last_updated_at, format: :long
