- query_string = " #{t 'search.for'} " + content_tag(:span, "'#{h @query}'", :class => 'query') + " #{t 'search.in'} " + ((@top_node.nil? || @top_node.is_root?) ? Settler[:host] : "(#{h @top_node.approved_content.title})")
- if @content_types_to_include
  - query_string += " #{t 'search.of_type'} '#{@search_scope.first}'"

- if @results.blank?
  = content_tag(:p, (t('search.no_results') + query_string), :class => 'number_of_results')

- else
  - if @results.size > 1
    .number_of_results
      = show_search_results_index(t('search.results')) + " #{t 'search.of'} " + content_tag(:strong, @results.size.to_s) + query_string

  - else
    = content_tag(:p, (t('search.results_1') + query_string), :class => 'number_of_results')

  .search_results
    - @results.each do |result|
      = render :partial => 'search_result', :object => result
    .pageNumber
      = pagination_links(@results)
