- if search_result.node
  - node = search_result.node
  - if node.content_type == 'Product' && node.content.external_url.present?
    - url = node.content.external_url
    - search_result.title << " (Landelijk)"
  - else
    - url = aliased_or_delegated_path(node, :type => :url)
- else
  - url = search_result.url

.search_result
  .clearfix.header_wrapper
    %h2= highlighted_title_link(search_result, url)

    - if search_result.tstamp
      %span.update_date
        == #{t 'search.modified_at'}: #{l(search_result.tstamp.to_date, :format => :long)}

  .search_content
    = highlighted_content(search_result)

  .metadata
    %table{ :cellpadding => 0, :cellspacing => 0 }
      %caption= t 'search.result_caption'
      %tr
        %th{ :scope => 'row' }= t 'search.path'
        %td{ :colspan => 3 }
          = node ? bread_crumbs_track_for(node) : link_to(url, url)

      - if node && node.last_set_category
        %tr
          %th{ :scope => 'row' }= t 'search.theme'
          %td{ :colspan => 3 }
            = print_category(node.last_set_category)

      %tr
        %th{ :scope => 'row' }= t 'search.type'
        %td.type
          = print_content_type(node.try(:content_type))

        - if search_result.score.present?
          %th= t 'search.relevance'
          %td.relevance
            .relevance_wrapper.clearfix
              .container
                .bar
                  = image_tag 'search_result_bar.gif', :alt => 'Resultaat percentage', :width => number_to_percentage(100 * search_result.score, :precision => 0, :height => '7px')
              .percentage
                = number_to_percentage(100 * search_result.score, :precision => 1, :separator => '.')
