<div class="regularPage searchPage">

  <% if @query %>
    <h1><%=t 'search.search_results' -%></h1>
  <% else %>
    <h1><%=t 'search.to_search' -%></h1>
  <% end %>

  <%= form_tag search_path(@engine), :method => :get, :class => 'clearfix', :id => 'main_search_form' do %>
    <div id="controls" class="clearfix">
      <%= text_field_tag(:query, @query, :class => 'query') -%>
      <p><%=t 'search.in' -%></p>
      <%= render :partial => 'search_options' %>

      <div id="top_search_button" <%= 'class=hidden' if params[:advanced] -%>>
        <%= submit_tag(t('search.search'), :class => 'submit') -%>
      </div>

      <div id="show_advanced_options" <%= 'class=hidden' if params[:advanced] -%>>
        <%= link_to t('search.advanced_search'), search_path(@engine, :advanced => true), :clss => 'show-advanced-search-options' %>
        <%= image_tag 'blue_pointer_down.png', :alt => t('search.show_advanced_options') -%>
      </div>
    </div>

    <div id="advanced_search" <%= 'class=hidden' unless params[:advanced] -%>>
      <div class="search_field_wrapper clearfix">
        <div class='search_description'><%=t 'search.for_zipcode' -%>: </div>
        <div class='search_field'><%= text_field_tag(:zipcode, params[:zipcode], :size => 6) %></div>
      </div>

      <div class="search_field_wrapper clearfix">
        <div class='search_description'><%=t 'search.in_period' -%>: </div>
        <div class='search_field'>
          <%= text_field_tag 'from', @from, :class => 'datepicker' %>
          <%= text_field_tag 'to',   @to,   :class => 'datepicker' %>
        </div>
      </div>

      <div class="search_field_wrapper clearfix">
        <div class='search_description'><%= t 'search.sort_by' -%>: </div>
        <div class='search_field'>
          <%= radio_button_tag('sort', 'relevance', params[:sort] != 'date') %> <%= t 'search.relevance' %>
          <%= radio_button_tag('sort', 'date',      params[:sort] == 'date') %> <%= t 'search.date'      %>
        </div>
      </div>

      <div class="clearfix">
        <div id="bottom_search_button">
        <%= submit_tag(t('search.search'), :class => 'submit', :name => 'advanced') -%>
        </div>

        <div id="hide_advanced_options">
          <%= link_to t('search.simple_search'), search_path(@engine), :class => 'hide-advanced-search-options' %>
          <%= image_tag 'blue_pointer_up.png', :alt => t('search.hide_advanced_options') -%>
        </div>
      </div>
    </div>
  <% end %>

<% if @query %>
  <%= render :partial => 'results' %>
<% end %>

</div>
