<% @approved_content_items ||= record.approved_items %>
<div class="regularPage newsletterEdition">
  <h2><%=h record.title -%></h2>

  <%- unless record.new_record? -%>
  <div class="metadata clearfix">
    <p class="publicationDate"><%=t 'shared.published'   -%>: <%= l(record.publication_start_date, :format => :long) -%></p>
    <p class="lastUpdateDate"><%=t 'shared.last_updated' -%>: <%= l(record.updated_at,             :format => :long) -%></p>
  </div>
  <%- end -%>

  <div class="content">
    <div class="htmlField clearfix">
      <%=w record.body -%>
    </div>

    <% if @approved_content_items.empty? %>
      <p><%=t 'newsletters.no_items' -%></p>
    <% else %>
      <h3><%=t 'newsletters.items' -%></h3>
      <table cellpadding="0" cellspacing="0" id="items">
        <thead>
          <tr>
            <th scope="col" class="gray"><%=t 'newsletters.edition_title' -%></th>
            <th scope="col" class="right gray"><%=t 'newsletters.type' -%></th>
          </tr>
        </thead>
        <tbody>
        <% @approved_content_items.each_with_index do |item, i| %>
          <tr <% if i.even? %>class="alt"<% end %>>
            <td><%= link_to h(item.content_title), '#' -%></td>
            <td class="right type"><%= item.class.human_name -%></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
