= render :partial => 'show', :locals => { :record => @newsletter_edition }

.forms
  = remote_form_for @newsletter_edition, :method => :get, :url => new_admin_newsletter_edition_path(:format => 'html', :parent_node_id => @parent_node.id), :update => 'right_panel_body' do |form|
    = render :partial => 'preview_form', :locals => { :form => form, :record => @newsletter_edition  }
    = form.submit t('shared.edit')

  = remote_form_for @newsletter_edition, :url => admin_newsletter_editions_path(:format => 'html', :parent_node_id => @parent_node.id), :update => 'right_panel_body' do |form|
    = render :partial => 'preview_form', :locals => { :form => form, :record => @newsletter_edition }
    = form.submit t('shared.save')
