.regularPage
= readspeaker do
  = readspeaker_button :class => 'topRightReadspeaker'

  %h1= h @top_hits_page.title

  - if @top_hits_page.description.present?
    .htmlField
      = w @top_hits_page.description

  - if @top_hits.present?
    %ol.top_hits
    - @top_hits.each do |top_hit|
      - content_node = top_hit.content
      %li
        = image_tag "icons/#{content_node.icon_filename}", :class => 'icon', :alt => h(content_node.title)
        = link_to_node h(content_node.title), top_hit

  .buttons.clearfix
    = print_button
