= javascript_tag("document.getElementById('right_panel_body').scrollTop = 0; new Ajax.Autocompleter('category_auto', 'autocomplete', '#{categories_admin_attachments_path}', {frequency: 0.5, paramName: 'query'});")

- admin_form_for(:attachment, @attachment, :url => { :action => 'create', :format => 'js' }, :html => { :multipart => true, :target => 'upload_target' }) do |f|
  = error_messages_for :attachment

  = f.text_field :title, :label => t('shared.title')

  - if current_user.has_role?('editor')
    = f.text_area :editor_comment, :label => t('attachments.editor_comment'), :rows => 3

  = f.file_field :uploaded_data, :label => t('attachments.data')

  = hidden_field_tag :parent_node_id, params[:parent_node_id]

  = category_settings_for @attachment
  
  = f.text_field :category, :label => t('attachments.attachment_category'), :id => "category_auto"
  
  #autocomplete

  = f.submit t('attachments.add')
