= admin_form_for(@attachment, :as => :attachment, :url => { :action => 'create', :format => 'js' }, :html => { :multipart => true, :target => 'upload_target' }) do |f|
  = error_messages_for :attachment

  = f.text_field :title, :label => t('shared.title')

  - if current_user.has_role?('editor')
    = f.text_area :editor_comment, :label => t('attachments.editor_comment'), :rows => 3

  = f.file_field :file, :label => t('attachments.data')

  = hidden_field_tag :parent_node_id, params[:parent_node_id]
  
  = f.submit t('attachments.add')
