= error_messages_for :alphabetic_index

= javascript_tag("document.getElementById('right_panel_body').scrollTop = 0;")

= form.text_field :title,              :label => t('shared.title')
= form.text_field :title_alternatives, :label => t('shared.title_alternatives')

= form.select_field :content_type, AlphabeticIndex::ALLOWED_CONTENT_TYPES.collect { |ct| [ct.constantize.human_name, ct] }, :label => t('alphabetic_indices.content_type')

= content_box_settings_for @alphabetic_index, false
= category_settings_for    @alphabetic_index

= form.submit(t 'shared.save')
