.weblogFormPage
  %h1
    %span.prefix
      = t 'weblogs.weblog'
    = link_to_content_node h(@weblog.title), @weblog

  .htmlField.weblogDescription
    = w @weblog.description

  .weblogPostForm
    %h2= t 'weblogs.update_weblog_post'

    - form_for [ @weblog_archive, @weblog, @weblog_post ], :html => { :multipart => true } do |f|
      = error_messages_for :weblog_post
      = render :partial => 'form', :locals => { :f => f }

      %p.clearfix
        = submit_tag t('shared.submit'), :class => 'submit'
