.contact_information
  %h2= t 'contact_boxes.heading'

  .wrapper.clearfix
    .text
      = w record.contact_information

    - if record.show_more_addresses_link?
      = link_to t('contact_boxes.more_addresses'), record.selected_more_addresses_url, class: 'read_more_link'

.opening_hours
  %h2= t 'contact_boxes.opening_hours'

  .wrapper.clearfix
    = w text_for_today(record)
    - if record.show_more_times_link?
      = link_to t('contact_boxes.more_times'), record.selected_more_times_url, class: 'read_more_link'
