= form.text_field :twitter_url,  :label => t('social_media_links_boxes.twitter_url')
= form.text_field :facebook_url, :label => t('social_media_links_boxes.facebook_url')
= form.text_field :linkedin_url, :label => t('social_media_links_boxes.linkedin_url')
= form.text_field :youtube_url,  :label => t('social_media_links_boxes.youtube_url')
= form.text_field :flickr_url,   :label => t('social_media_links_boxes.flickr_url')
