.carrousel
  %h2= h @carrousel.title
  %p== #{Carrousel.human_attribute_name(:display_time)}: #{@carrousel.display_time[0]} #{t(@carrousel.display_time[1], :scope => 'carrousels.units')}

  - @carrousel.carrousel_items.each_with_index do |carrousel_item,i|
    .carrousel_item
      .counter= (i+1).to_s

      .regularPage
        %h3= link_to_content_node h(carrousel_item.title), carrousel_item.item, {}, :target => '_blank'
        = render :partial => '/carrousels/carrousel_item', :object => carrousel_item
