= render :partial => 'show', :locals => { :record => @carrousel }

.forms
  - remote_form_for @carrousel, :method => :get, :url => edit_admin_carrousel_path(@carrousel, :format => 'html'), :update => 'right_panel_body' do |form|
    = render :partial => 'preview_form', :locals => { :form => form }
    = form.submit t('shared.edit')

  - remote_form_for @carrousel, :url => admin_carrousel_path(@carrousel, :format => 'html'), :update => 'right_panel_body' do |form|
    = render :partial => 'preview_form', :locals => { :form => form }
    = form.submit t('shared.save')
