#columns_wrapper.clearfix
  #inner_columns_wrapper.clearfix
    .clearfix{:id => @node && @node.hide_right_column? ? 'content_extended' : 'content'}
      = bread_crumbs_for(@node, :include_root => false, :minimum_crumbs => 2) if @node && !@node.columns_mode?
      = yield_flash
      = yield
      \&nbsp;
    #second_side_bar
      = render_representations('secondary_column')
  #first_side_bar
    = render_representations('primary_column')
