<div style="font-family: arial, sans-serif; font-size: 12px">
  <p>
    Beste <%= @user.login %>,
  </p>
  <p>
    U ontvangt deze e-mail omdat u uw inloggegevens voor <%= @host %> heeft opgevraagd.
    Omdat uw wachtwoord ook bij ons niet bekend is, is er automatisch een nieuw wachtwoord gegenereerd.
  </p>
  <p>
    Uw nieuwe gegevens zijn:
    <br/><br/>
    Login naam: <%= @user.login %><br/>
    Wachtwoord: <%= @password %>
  </p>
  <p>
    U kunt <%= link_to('hier inloggen', login_url(:path_only => false, :host => @host)) %>.
  </p>
  <p>
    Met vriendelijke groet,
    <br/><br/>
    Het <%= @host %> team
  </p>
</div>