<div id="poll_results_main" class="clearfix">
      <div class="question">
          <%=h question.question -%> (<%= question.number_of_votes -%>) 
      </div>
      <div class="results clearfix">
      <% question.poll_options.each do |o| %>
        <div class="option">  
          <div class="answer clearfix">
            <%=h "#{o.text}" -%>
          </div>
          <div class="result_bar_ct clearfix ISI_IGNORE">
            <img src="/images/poll_result_main.gif" class="result_bar" height='16' width='<%=number_to_percentage(o.percentage_of_votes, :precision => 0) -%>' alt="resultaat percentage"/>
          </div>
          <div class="result_number clearfix">
            (<%="#{number_to_percentage(o.percentage_of_votes, :precision => 2)}" -%>)
          </div>
        </div>
      <% end %>
      <div class="number_of_votes clearfix"> 
          <%=t 'polls.number_of_votes' -%>: 
          <%=h "#{question.number_of_votes}" %>
      </div>
    </div>  
</div>
