- if record.is_a?(Site)
  = form.text_field :domain,         :label => t('sections.domain')
  = form.text_field :analytics_code, :label => t('sites.analytics_code'), :style => 'height: 42px;'
  = form.text_field :piwik_site_id , :label => t('sites.piwik_site_id')
= form.date_field :publication_start_date_day,  :label => "#{t 'sections.begin_date'}", :value => record.publication_start_date, :allow_empty => true
= form.time_field :publication_start_date_time, :label => "#{t 'sections.begin_time'}", :value => record.publication_start_date, :allow_empty => true

= form.html_editor :description, :label => t('shared.description'), :height => 100

- if @show_frontpage_control
  = form.help_text(t(record.is_a?(Site) ? 'sites.drag_and_drop' : 'sections.drag_and_drop'))
  = form.node_selector :frontpage_node_id, :hint => false

- if current_user.has_role_on?(['final_editor', 'admin'], (record.new_record? ? record.parent : record.node))
  - field_set_tag t('sections.expiration_settings') do
    = form.text_field   :expiration_email_subject, :label => t('sections.expiration_email_subject')
    = form.html_editor  :expiration_email_body,    :label => t('sections.expiration_email_body'), :height => 100