= render :partial => '/admin/sections/show', :locals => { :record => @section }

.forms
  - remote_form_for :section, @section, :method => :get, :url => @section.is_a?(Site) ? new_admin_site_path(:format => 'html', :parent_node_id => @parent_node.id) : new_admin_section_path(:format => 'html', :parent_node_id => @parent_node.id), :update => 'right_panel_body' do |form|
    = render :partial => '/admin/sections/preview_form', :locals => { :form => form }
    = form.submit t('shared.edit')

  - remote_form_for :section, @section, :url => @section.is_a?(Site) ? admin_sites_path(:format => 'html', :parent_node_id => @parent_node.id) : admin_sections_path(:format => 'html', :parent_node_id => @parent_node.id), :method => :post, :update => 'right_panel_body' do |form|
    = render :partial => '/admin/sections/preview_form', :locals => { :form => form }
    = form.submit t('shared.save')
