<div class="right_panel_content">

    <h1><%=t @section.is_a?(Site) ? 'sections.edit_site' : 'sections.edit' -%> '<%=h @section.title -%>'</h1>

    <% admin_remote_form_for :section, @section,
      :url => @section.is_a?(Site) ? admin_site_path(@section, :format => 'html') : admin_section_path(@section, :format => 'html'),
      :method => :put,
      :update => 'right_panel_body' do |f| %>
      
      <%= render :partial => '/admin/sections/form', :object => f %>

      <% if @show_frontpage_control %>

                <%= f.help_text t(@section.is_a?(Site) ? 'sections.drag_and_drop_site' : 'sections.drag_and_drop') %>

                <%= wrap_with_label content_tag(:div, '', :id => 'node_selector'), { :text => t('sections.frontpage_node'), :for => 'frontpage_node_id' } %>

                <% javascript_tag do %>
                  ndf = new Ext.dvtr.NodeDropField({
                      renderTo: 'node_selector',
                      ddGroup: 'TreeAndSorterDD',
                      name: 'section[frontpage_node_id]',
                      value: '<%= @section.frontpage_node_id || String.new -%>',
                      text: '<%= escape_javascript(@section.frontpage_node.content.tree_text) rescue String.new -%>',
                      id: 'section_frontpage_node_id'
                  });
                <% end %>
      <% end %>
      

      <%= content_box_settings_for @section -%>
	  <%= category_settings_for    @section -%>

      <%= commit_fields f -%>
    <% end %>
</div>
