.right_panel_content
  %h1== #{t @section.is_a?(Site) ? 'sections.add_to_site' : 'sections.add_to'} '#{h @parent_node.content.content_title}'.

  - admin_remote_form_for :section, @section, :url => @section.is_a?(Site) ? admin_sites_path(:format => 'html', :parent_node_id => @parent_node.id) : admin_sections_path(:format => 'html', :parent_node_id => @parent_node.id), :method => :post, :update => 'right_panel_body' do |f|
    = render :partial => '/admin/sections/form', :object => f

    = content_box_settings_for @section
    = category_settings_for    @section

    = commit_fields f
