= render :partial => '/admin/sections/show', :locals => { :record => @section }

.forms
  - remote_form_for :section, @section, :method => :get, :url => @section.is_a?(Site) ? edit_admin_site_path(@section, :format => 'html') : edit_admin_section_path(@section, :format => 'html'), :update => 'right_panel_body' do |form|
    = render :partial => '/admin/sections/preview_form', :locals => { :form => form }

    = form.hidden_field :frontpage_node_id
    = form.submit t('shared.edit')

  - remote_form_for :section, @section, :url => @section.is_a?(Site) ? admin_site_path(@section, :format => 'html') : admin_section_path(@section, :format => 'html'), :update => 'right_panel_body' do |form|
    = render :partial => '/admin/sections/preview_form', :locals => { :form => form }

    = form.hidden_field :frontpage_node_id
    = form.submit t('shared.save')
