- if @user.weblogs.present?
  #weblogs
    %h2= t 'users.weblog'

    %table.items{ cellpadding: 0, cellspacing: 0 }
      %caption= t 'users.weblogs_caption'
      %thead
        %tr
          %th.gray{ scope: 'col' }
            = t 'users.weblog_title'
          %th.gray{ scope: 'col' }
            = t 'users.last_update'
          %th.right.gray{ scope: 'col' }
            = t 'users.options'
      %tbody
        - @user.weblogs.each do |wl|
          %tr{ class: cycle('alt', '', name: 'weblogs') }
            %td= h wl.title
            %td.gray= h wl.last_updated_at.to_s(:short)
            %td.right.gray= link_to_content_node t('users.view_weblog'), wl, {}, title: h(wl.title)
