%h1= t 'users.request_password_heading'
%p= t 'users.request_password_text'

- form_tag send_password_users_url do
  .formFieldCt.clearfix
    %label.reminder
      = t 'users.login_email'
    = text_field_tag 'login_email', '', :class => 'textfield reminder'

  .formButtonCt
    = submit_tag t('users.request'), :class => 'submit'
