.right_panel_content
  %h1= "#{t 'links.edit'} '#{h @external_link.title}'."
  = admin_remote_form_for @external_link, :url => admin_external_link_path(@external_link, :format => :html), :update => 'right_panel_body' do |form|
    = error_messages_for :external_link
    
    = form.text_field :title, :label => t('shared.title')
    = form.text_field :title_alternative_list, :label => t('shared.title_alternatives')
    = form.text_area :description, :label => t('shared.description'), :rows => 2
    = form.text_field :url, :label => t('links.url')

    = category_settings_for @external_link
    = form.submit t('shared.save')

