%thead
  %tr
    %th{ :scope => "col", :class => "title" }= t 'shared.title'
    %th{ :scope => "col", :class => "type" }= t 'shared.type'
    %th{ :scope => "col", :class => "size" }= t 'shared.size'
    %th{ :scope => "col", :class => "download" }= t 'shared.download'
%tbody
  - attachments.each do |attachment|
    %tr
      %td{ :class => "title" }= h attachment.title
      %td{ :class => "type" }== #{attachment_icon(attachment)}&nbsp;#{attachment.extension}
      %td{ :class => "size" }== #{number_with_precision(attachment.size.to_f / 1024, :precision => 1)} KB
      %td{ :class => "download" }= link_to_content_node t('shared.download'), attachment, {:format => attachment.extension }, :title => h(attachment.title)