.header.clearfix
  .userName
    = h comment.user_name
  .publicationDate
    = t('comments.created_at') + ' ' + comment.created_at.strftime("%d-%m-%Y ") + t('comments.created_at_time') + comment.created_at.strftime(" %H:%M")

.text.clearfix
  = w comment.comment

- if logged_in? && (current_user.has_role?('admin', 'final_editor'))
  = delete_button(t('comments.delete')) do
    = link_to t('comments.delete'), { :url => [ comment.commentable, comment ], :method => :delete, :confirm => t('comments.really_delete?') }, { :href => destroy_node_comment_path(comment.commentable, comment) }
