#newComment
  %h2= t 'comments.new'

  - if logged_in?
    .newComment
      - remote_form_for [commentable, comment ] do |f|
        = error_messages_for :comment
        .content
          = f.text_area(:comment, :class => 'contentArea')
        .submit
          = submit_tag t('shared.submit'), :class => 'submit'

  - else
    %p= t 'comments.login'
