- content        = node.content
- carrousel_item = content.current_item
- frequency      = content.display_time_in_seconds > 0 ? content.display_time_in_seconds.to_s : '0.4'

- if content.animation == Carrousel::ANIMATION_NONE || content.animation.blank?
  - carrousel_item = content.current_item
  - if carrousel_item
    .carrousel_item.clearfix
      = render :partial => '/carrousels/carrousel_item', :object => carrousel_item, :locals => { :content => content, :node => node }

- else
  .carousel-wrapper{ :id => "carousel-wrapper-#{content.id}" }
    .carousel-control.carousel-control-left{  '&laquo;'.html_safe, :rel => 'prev' }
    .carousel-control.carousel-control-right{ '&raquo;'.html_safe, :rel => 'next' }
    .carousel-content-wrapper{ :id => "carousel-#{content.id}" }
      .carousel-content
        - content.carrousel_items.each do |carrousel_item|
          .slide
            = render :partial => '/carrousels/carrousel_item', :object => carrousel_item, :locals => { :content => content, :node => node }
        - if [ Carrousel::ANIMATION_SLIDE, Carrousel::ANIMATION_DIA, Carrousel::ANIMATION_SPRING ].include?(content.animation)
          .slide
            = render :partial => '/carrousels/carrousel_item', :object => content.carrousel_items.first, :locals => { :content => content, :node => node }

  - # We set float:left here, instead of in CSS, so the banners are shown if JavaScript is disabled (Drempelvrij).
  = javascript_tag "$$('#carousel-#{content.id} .carousel-content .slide').invoke('setStyle', 'float:left');"

  - if content.animation == Carrousel::ANIMATION_FADE_IN
    = javascript_tag "new Carousel('carousel-#{content.id}', 'carousel-wrapper-#{content.id}', $$('#carousel-#{content.id} .carousel-content .slide'), $$('#carousel-wrapper-#{content.id} a.carousel-control', 'a.carousel-jumper'), {auto:true, autoPause:true, duration:1, frequency:#{frequency}, effect:'fade'});"
  - elsif content.animation == Carrousel::ANIMATION_DIA
    = javascript_tag "new Carousel('carousel-#{content.id}', 'carousel-wrapper-#{content.id}', $$('#carousel-#{content.id} .carousel-content .slide'), $$('#carousel-wrapper-#{content.id} a.carousel-control', 'a.carousel-jumper'), {auto:true, autoPause:true, duration:1, frequency:#{frequency}, circular:true});"
  - elsif content.animation == Carrousel::ANIMATION_SPRING
    = javascript_tag "new Carousel('carousel-#{content.id}', 'carousel-wrapper-#{content.id}', $$('#carousel-#{content.id} .carousel-content .slide'), $$('#carousel-wrapper-#{content.id} a.carousel-control', 'a.carousel-jumper'), {auto:true, autoPause:true, transition:'spring', duration:2, frequency:#{frequency}, circular:true});"
  - elsif content.animation == Carrousel::ANIMATION_SLIDE
    = javascript_tag "new Carousel('carousel-#{content.id}', 'carousel-wrapper-#{content.id}', $$('#carousel-#{content.id} .carousel-content .slide'), $$('#carousel-wrapper-#{content.id} a.carousel-control', 'a.carousel-jumper'), {auto:true, autoPause:true, transition:'linear', duration:#{frequency}, frequency:#{frequency}, circular:true});"
