.slider-container{ :data => carousel_data(node.content) }
  .slider-items-wrapper
    .slider-lateral-navigation
      %a.slider-navigation-previous{ :href => '#' } &laquo;
      %a.slider-navigation-play-pause{ :href => '#' }= image_tag 'play_pause.png'
      %a.slider-navigation-next{ :href => '#' } &raquo;

    .slider-navigation
      .slider-navigation-wrapper
        - node.content.carrousel_items.each_with_index do |item, index|
          %a.slider-navigation-link{ :href => "#", :data => { :toggle => 'slider' } }= index + 1
        = icon_tag_link_to 'pause-1', '#', :class => 'slider-control pause-control', title: content_tag(:span, 'Play', class: 'text-alternative')
        = icon_tag_link_to 'play-1',  '#', :class => 'slider-control play-control',  title: content_tag(:span, 'Play', class: 'text-alternative')

    .slider-items
      - node.content.carrousel_items.each do |item|
        .slider-image
          - url = (item.is_a?(Image) && item.url.present? && item.url) || content_node_url(item.node)

          - if item.image
            - present item.image do |content_presenter|
              = content_presenter.image(action: :sidebox)

          - if item.blank? || !item.item.is_a?(Image)
            = link_to (item.try(:item) || content).title, url, class: 'slider-item-title'
