#top_header.clearfix
  #logo
    = link_to_node(image_tag('logo.png', :alt => I18n.t('layouts.logo_alt')), current_site)

  #language_selection_and_rss
    - if @rss_feed_url
      = link_to image_tag('icons/feed_icon.png', :alt => I18n.t('layouts.rss_alt'), :title => I18n.t('layouts.rss_title')), @rss_feed_url, :id => 'rss'

  - unless logged_in?
    #login
      = form_tag secure_url(:session_url), :method => :post do
        .login_username_container.clearfix
          .field_wrapper
            = text_field_tag :login, (params[:login] or I18n.t('layouts.username')), :id => 'login_username'
          %label{ :for => 'login_username' }= I18n.t('layouts.username')
        .login_password_container.clearfix
          .field_wrapper
            = password_field_tag :password, nil, :id => 'login_password'
          %label{ :for => 'login_password' }= I18n.t('layouts.password')
        .links
          = link_to I18n.t('layouts.registration_link'), signup_path, :class => 'signup_link'
          = link_to I18n.t('layouts.forgot_password'), new_password_reset_path, :class => 'request_password_link'
        %div
          = submit_tag I18n.t('layouts.login'), :class => 'submit'

#header.clearfix
  / Meta links
  .meta_links
    #fontsize.fontsize.hidden
  / Main menu
  - cache(:controller => '/nodes', :action => :main_menu, :site => current_site.id) do
    = create_main_menu
  .header_photo
    = header_image(@node)[:image_tag]
