.section.regularPage
  = readspeaker do
    = readspeaker_button class: 'topRightReadspeaker'
    = render_top

    %h1= @section.title

    = render partial: '/shared/metadata', locals: { publication_date: @section.publication_start_date, last_update_date: @section.last_updated_at }

    - if @section.description.present?
      .htmlField
        = w @section.description

    = render_images

    - if @children.present?
      = skippable 'section_listing', title: t('sections.items') do
        %ul.section_items
          - @children.each do |content_node|
            - if content_node.node.content_type_configuration[:show_in_menu]
              %li
                = image_tag "icons/#{content_node.try :icon_filename}", class: 'icon', alt: ''
                = link_to_content_node h(content_node.title), content_node

    = render_attachments

    .buttons.clearfix
      = print_button
