= render :partial => '/shared/metadata', :locals => { :last_update_date => event.updated_at }

.details
  - if event.is_a? Meeting
    .category
      == #{t 'calendars.category'}: #{event.meeting_category.name}

  .start_time
    == #{t 'calendars.start_time'}: #{l event.start_time, :format => "%d %B %Y #{t 'shared.at'} %H:%M"}

  .end_time
    == #{t 'shared.end_time'}: #{l event.end_time, :format => "%d %B %Y #{t 'shared.at'} %H:%M"}

  .location_description
    == #{t 'calendars.location_description'}: #{event.location_description.present? ? h(event.location_description) : t('calendars.unknown')}

  .dynamic_attributes
    - if event.dynamic_attributes.present?
      - event.dynamic_attributes.each do |attribute, value|
        %div{ :class => attribute.to_s }
          == #{t attribute, :scope => 'calendars'}: #{value}

.htmlField.body
  = process_video_tags(event.body)

- if event.is_a? Meeting
  %h3= t 'calendars.agenda_items'
  - agenda_items = event.agenda_items.accessible
  
  - if agenda_items.present?
    .agendaItems
      %table.items
        %caption= "Overzicht van agenda punten"
        %thead.ISI_IGNORE
          %tr
            %th.spacer{ :scope => 'col' }
            %th{ :scope => 'col' }
              = t 'calendars.agenda_item'
            %th{ :scope => 'col' }
              = t 'calendars.category'
        %tbody
          - agenda_items.each_with_index do |agenda_item, i|
            %tr{ :class => cycle('alt', '') }
              %td.ISI_IGNORE.position
                = i+1
                \.
              %td.gray= link_to_content_node h(agenda_item.description), agenda_item
              %td.gray= h(agenda_item.agenda_item_category.name) if agenda_item.agenda_item_category
  - else
    %p= t 'calendars.no_agenda_items'

- else
  = render_images
  = render_attachments
