= readspeaker do
  = readspeaker_button class: 'topRightReadspeaker'

  %h1= h @calendar_item.calendar.title

  #calendarItemMain
    %h2= h @calendar_item.title

    = render partial: 'event', locals: { event: @calendar_item }

    .buttons.clearfix
      = print_button

- if @calendar_item.subscription_enabled
  #registration_container
    - if current_user
      = render partial: '/event_registrations/show', locals: { event: @calendar_item }
    - else
      %p
        U moet zich aanmelden voor dit evenement, maar daarvoor moet u zich eerst
        = link_to 'inloggen.', login_path

- if @calendar_item.commentable?
  #comment_container
    = render partial: '/shared/comments', locals: { commentable: @node }
