.regularPage.contact_form
  %h2= h @contact_form.title

  - if @contact_form.description_before_contact_fields
    %p= w @contact_form.description_before_contact_fields

  %h4= t 'contact_forms.contact_fields'

  #contact_form_fields
    - if @contact_form.contact_form_fields.present?
      = render partial: '/admin/contact_form_fields/index', object: @contact_form.contact_form_fields
    - else
      %p
        = t 'contact_forms.no_contact_fields'
        - if @contact_form.new_record?
          = t 'contact_forms.add_after_save'

  = render(:partial => '/admin/contact_form_fields/new_contact_form_field', :object => @contact_form) unless @contact_form.new_record?

  - if @contact_form.description_after_contact_fields
    %p= w @contact_form.description_after_contact_fields
