.regularPage
  %h1= @top_hits_page.title

  - if @top_hits_page.description.present?
    .htmlField
      = w @top_hits_page.description

  - if @top_hits.present?
    %ol.top_hits
      - @top_hits.each do |top_hit|
        - content_node = top_hit.content
        %li
          = image_tag "icons/#{content_node.icon_filename}", class: 'icon', alt: ''
          = link_to content_node.title, '#'
          %span.hits
            (#{content_node.node.hits})
