<div class="regularPage newsArchive">
<% readspeaker do %>
  <h1><%=h @poll.title -%></h1>

  <% if @question %>
    <% if already_voted_for?(@question) %>
      <%= render :partial => '/poll_questions/results', :locals => { :question => @question } %>
    <% else %>
      <%= render :partial => '/poll_questions/question', :object => @question %>
    <% end %>
  <% else %>
  <p><%=t 'polls.no_active_question' -%></p>
  <% end %>

   <% unless @earlier_questions.empty? %>
        <div id="earlier_questions">
          <h2><%=t 'polls.earlier_questions' -%></h2>
          <table cellpadding="0" cellspacing="0" id="items">
            <thead>
            	<tr>
            		<th scope="col" class="gray"><%=t 'polls.question' -%></th>
					<th scope="col" class="right_sized gray"><%=t 'polls.publication_date' -%></th>
				</tr>
			</thead>
            <tbody>
              <% @earlier_questions.each_with_index do |q, i| %>
                  <tr <% if i.even? %>class="alt"<% end %>>
                    <td><%=link_to_content_node h(q.question), q -%></td>
                    <td class="right date"><%= q.created_at.to_date.to_formatted_s :long -%></td>
                  </tr> 
              <% end %>
            </tbody>
          </table>
        </div>
   <% end %>
  <div class="buttons clearfix">
    <%= readspeaker_button %>
  </div>
<% end %>
</div>
