.regularPage.newsArchive
  = readspeaker do
    %h1= h @poll.title
    - if @question
      - if already_voted_for?(@question)
        = render :partial => '/poll_questions/results', :locals => { :question => @question }
      - else
        = render :partial => '/poll_questions/question', :object => @question

    - else
      %p= t 'polls.no_active_question'

    - if @earlier_questions.present?
      #earlier_questions
        %h2= t 'polls.earlier_questions'
        %table#items{ :cellpadding => 0 }
          %caption= t 'polls.questions_caption'
          %thead
            %tr
              %th.gray{ :scope => 'col' }= t 'polls.question'
              %th.right_sized.gray{ :scope => 'col' }= t 'polls.publication_date'
          %tbody
            - @earlier_questions.each_with_index do |q, i|
              %tr{ :class => "#{'alt' if i.even?}" }
                %td= link_to_content_node h(q.question), q
                %td.right.date= q.created_at.to_date.to_formatted_s :long

    .buttons.clearfix
      = readspeaker_button
