= render :partial => 'show', :locals => { :record => @news_item }

.forms
  - remote_form_for @news_item, :method => :get, :url => edit_admin_news_item_path(@news_item, :format => 'html'), :update => 'right_panel_body' do |form|
    = render :partial => 'preview_form', :locals => { :form => form }
    = form.submit t('shared.edit')

  - remote_form_for @news_item, :url => admin_news_item_path(@news_item, :format => 'html'), :update => 'right_panel_body' do |form|
    = render :partial => 'preview_form', :locals => { :form => form }
    = form.submit t('shared.save')
