- content = node.content
- links   = node.children.accessible.with_content_type(%w(InternalLink ExternalLink)).include_content.all(limit: node.content_box_number_of_items).map { |n| n.content }

- unless links.empty?
  - header_image = node.children.accessible.with_content_type('Image').include_content.first.try(:content)

  - if header_image.present?
    = image_tag(content_node_path(header_image, action: :banner, format: :jpg), alt: header_image.alt.to_s, class: 'banner')

  %ul
    - links.each do |link|
      %li
        = toggable_section_link("link_#{link.id}", link)
        .link{ id: "link_#{link.id}" }
          %p= link.description
          = link_to_content_node_url t('links_boxes.goto_site'), link, {}, class: 'goto-site-link'

= read_more_link(content, t('links_boxes.read_more'))
