- content    = node.content
- links      = node.children.accessible.with_content_type(%w(InternalLink ExternalLink)).include_content.all(:limit => node.content_box_number_of_items).map { |n| n.content }

- unless links.empty?  
  - header_image = node.children.with_content_type('Image').include_content.first.try(:content)
  
  - if header_image.present?
    = image_tag(content_box_header_image_path(header_image, :format => :jpg), :alt => h(header_image.title), :class => 'content_box_header')
  
  %ul
    - links.each do |link|
      %li
        = text_link_toggable_section("link_#{link.id}", "toggle_link_#{link.id}", link.content_title)
        = javascript_tag("document.observe('dom:loaded', function () { $('link_#{link.id}').hide() } );") 
        %div.link{ :id => "link_#{link.id}" }
          %p= link.description
          = link_to_content_node t('links_boxes.goto_site'), link

= read_more_link(content, t('links_boxes.read_more'))
