.content_box{ :class => "#{node.content_class.name.underscore}_content_box" }
  .content_box_wrapper{ :class => "#{node.content_box_colour || content_box_color || 'default'}" }
    - if content.show_content_box_header
      .header
        .corner_overlay.transparent
        - unless content.is_a?(Poll) || content.is_a?(NewsletterArchive) || node.content_box_icon.blank?
          = image_tag "icons/content_box_#{node.content_box_icon}.png", :class => 'icon_overlay transparent', :alt => content_box_icon_alt_for(node)
        - if sidebox_title.present?
          %h2= sidebox_title
        - elsif node.content_type_configuration[:has_default_representation]
          %h2= link_to_content_node content_box_title_for(node), content
        - else
          %h2= content_box_title_for(node)

    .content.hoverable
      = render :partial => "/#{node.content.class.table_name}/#{partial}", :locals => { :node => node, :parent => parent }
