= form.hidden_field :agenda_item_category_name
= form.hidden_field :duration
= form.hidden_field :chairman
= form.hidden_field :notary
= form.hidden_field :staff_member
= form.hidden_field :speaking_rights
= form.hidden_field :description
= form.hidden_field :body
