%h2= h record.calendar_item.title

#agendaItemMain
  .content
    %h3= h record.description

    .details
      .date
        == #{t 'calendars.date'}: #{record.calendar_item.start_time.strftime('%d %B %Y')}
      - if record.agenda_item_category
        .category
          == #{t 'calendars.category'}: #{record.agenda_item_category.name}
      .duration
        == #{t 'calendars.duration'}: #{record.duration}
      .chairman
        == #{t 'calendars.chairman'}: #{record.chairman}
      .notary
        == #{t 'calendars.notary'}: #{record.notary}
      .staff_member
        == #{t 'calendars.staff_member'}: #{record.staff_member}
      .speaking_rights
        == #{t 'calendars.speaking_rights'}: #{record.speaking_rights ? t("calendars.speaking_rights_#{AgendaItem::SPEAKING_RIGHT_OPTIONS[record.speaking_rights]}") : ''}

    - if record.body
      .htmlField.body
        = w record.body

    = render_images_and_attachments
