= render :partial => 'show', :locals => { :record => @agenda_item }

.forms
  - remote_form_for @agenda_item, :method => :get, :url => new_admin_agenda_item_path(:format => 'html', :parent_node_id => @parent_node.id), :update => 'right_panel_body' do |form|
    = render :partial => 'preview_form', :locals => { :form => form }
    = form.submit t('shared.edit')

  - remote_form_for @agenda_item, :url => admin_agenda_items_path(:format => 'html', :parent_node_id => @parent_node.id), :update => 'right_panel_body' do |form|
    = render :partial => 'preview_form', :locals => { :form => form }

    = form.submit t('shared.save')
    = form.submit(t('calendars.save_and_continue_agenda_item'), :onclick => "$('continue').setValue('true'); return true;")

    = hidden_field_tag(:continue)
