- if params[:continue]
  = javascript_tag "treePanel.refreshNodesOf(#{@parent_node.id})"

.right_panel_content
  %h1== #{t 'calendars.add_agenda_item_to'} '#{h @parent_node.content.content_title}'.

  - admin_remote_form_for @agenda_item, :url => admin_agenda_items_path(:format => 'html', :parent_node_id => @parent_node.id), :update => 'right_panel_body' do |f|
    = render :partial => 'form', :object => f

    = f.submit(t('calendars.save_and_continue_agenda_item'), :onclick => "$('commit_type').setValue('save'); $('continue').setValue('true'); return true;")

    = hidden_field_tag(:continue)
