= render :partial => '/admin/calendars/show'

.forms
  = remote_form_for @combined_calendar, :method => :get, :url => new_admin_combined_calendar_path(:format => 'html', :parent_node_id => @parent_node.id), :update => 'right_panel_body' do |form|
    = render :partial => 'preview_form', :locals => { :form => form }
    = form.submit t('shared.edit')

  = remote_form_for @combined_calendar, :url => admin_combined_calendars_path(:format => 'html', :parent_node_id => @parent_node.id), :update => 'right_panel_body' do |form|
    = render :partial => 'preview_form', :locals => { :form => form }
    = form.submit t('shared.save')
