- content = node.content

.social_media_links_box_icons
  - if content.twitter_url.present?
    = social_media_link('social_twitter_large.png',  'Twitter',  content.twitter_url)

  - if content.hyves_url.present?
    = social_media_link('social_hyves_large.png',    'Hyves',    content.hyves_url)

  - if content.facebook_url.present?
    = social_media_link('social_facebook_large.png', 'Facebook', content.facebook_url)

  - if content.linkedin_url.present?
    = social_media_link('social_linkedin_large.png', 'LinkedIn', content.linkedin_url)

  - if content.youtube_url.present?
    = social_media_link('social_youtube_large.png',  'YouTube',  content.youtube_url)

  - if content.flickr_url.present?
    = social_media_link('social_flickr_large.png',   'Flickr',   content.flickr_url)
