%h1= t 'shared.confirm_deletion'

= form_tag [@node.content.weblog_archive, @node.content], :method => :delete do
  %p= t 'weblogs.really_delete?'

  .formButtonCt
    = submit_tag t('shared.y'), :class => 'left submit'
    = link_to    t('shared.n'), :back, :class => 'right'
