.weblogFormPage
  %h1
    %span.prefix
      = t 'weblogs.weblog_archive'
    = link_to_content_node h(@weblog_archive.title), @weblog_archive

  .htmlField.weblogArchiveDescription
    = w @weblog_archive.description

  .weblogForm
    %h2= t 'weblogs.create_weblog'

    - form_for [ @weblog_archive, @weblog ] do |f|
      = error_messages_for :weblog
      = render :partial => 'form', :locals => { :f => f }
      %p.clearfix
        = submit_tag t('shared.submit'), :class => 'submit'
