<%= form.check_box :repeating, :label => t('calendars.repeating'), :onclick => 'toggleRepeatingCalendarItemFields()' %>

<div id="repeatingCalendarItemFields" <%= "style='display:none;'" unless record.repeating? -%>>
  <div id="repeat_interval" class="formFieldCt clearfix">
    <label for="repeat_interval"><%=t 'calendars.every' -%></label>
    <%= form.select :repeat_interval_multiplier,  CalendarItem.repeat_interval_multipliers, {}, { :id => 'repeat_interval' } -%>
    <%= form.select :repeat_interval_granularity, CalendarItem.repeat_interval_granularities -%>
  </div>

  <%= form.date_field :repeat_end, :label => t('calendars.repeat_end'), :value => record.repeat_end || Date.today + 1.day %>
</div>

<% if record.is_a?(Meeting) %>
<div id="meetingCategoryFields">
  <div id="existing_meeting_category_wrapper" class="formFieldCt clearfix" <%= "style='display:none;'" if @categories.empty? || record.meeting_category.try(:new_record?) -%>>
    <label for="meeting_category_select"><%=t 'calendars.meeting_category' -%></label>
    <%= select_tag "meeting_category_select", options_from_collection_for_select(@categories, 'name', 'name', record.meeting_category_name), :onclick => 'setMeetingCategoryName()', :id => 'meeting_category_select' -%>
    <%= link_to_function t('calendars.new_category'), "toggleNewMeetingCategoryField()" -%>
  </div>

  <div id="new_meeting_category_wrapper" class="formFieldCt clearfix" <%= "style='display:none;'" unless @categories.empty? || record.meeting_category.try(:new_record?) -%>>
    <label for="meeting_category_name"><%=t 'calendars.meeting_category' -%></label>
    <%= text_field_tag 'meeting[meeting_category_name]', record.meeting_category_name || (@categories.any? ? @categories.first.name : nil), :class => 'admin_form_text_field', :id => 'meeting_category_name' -%>
    <%= link_to_function t('calendars.existing_category'), "toggleExistingMeetingCategoryField()" unless @categories.empty? -%>
  </div>
</div>

    <% javascript_tag do %>
      var existingMeetingCategoryFieldWrapper = Ext.get('existing_meeting_category_wrapper');
      var newMeetingCategoryFieldWrapper      = Ext.get('new_meeting_category_wrapper');
      var meetingCategoryNameField            = Ext.getDom('meeting_category_name')
      var oldSelectedMeetingCategory          = meetingCategoryNameField.value

      existingMeetingCategoryFieldWrapper.setVisibilityMode(Ext.Element.DISPLAY);
      newMeetingCategoryFieldWrapper.setVisibilityMode(Ext.Element.DISPLAY);

      toggleExistingMeetingCategoryField = function() {
        newMeetingCategoryFieldWrapper.toggle();
        meetingCategoryNameField.value = oldSelectedMeetingCategory;
        existingMeetingCategoryFieldWrapper.toggle();
      }

      toggleNewMeetingCategoryField = function() {
        existingMeetingCategoryFieldWrapper.toggle();
        oldSelectedMeetingCategory = meetingCategoryNameField.value;
        meetingCategoryNameField.value = "";
        newMeetingCategoryFieldWrapper.toggle();
      }

      setMeetingCategoryName = function() {
        meetingCategoryNameField.value = Ext.getDom('meeting_category_select').value;
      }
    <% end %>
<% end %>

<%- now = Time.now -%>

<%= form.date_field  :date,                 :label => t('calendars.date'),            :value => record.start_time || now %>
<%= form.time_field  :start_time,           :label => t('calendars.start_time_time'), :value => record.start_time || now %>
<%= form.time_field  :end_time,             :label => t('calendars.end_time_time'),   :value => record.end_time   || now + 1.hour %>

<%= form.text_field  :location_description, :label => t('calendars.location_description') %>
<%= form.html_editor :body,                 :label => t('calendars.body'), :height => 100, :heading => 'h3' %>

<%= form.check_box   :commentable,          :label => t('shared.commentable') -%>

<% javascript_tag do %>
  var repeatingCalendarItemFields = Ext.get('repeatingCalendarItemFields');

  repeatingCalendarItemFields.setVisibilityMode(Ext.Element.DISPLAY);

  toggleRepeatingCalendarItemFields = function() {
    repeatingCalendarItemFields.toggle();
  }
<% end %>
