- if @calendar_item.is_a?(Meeting)
  = hidden_field_tag 'calendar_item[meeting_category_name]', @calendar_item.meeting_category_name

= form.hidden_field :repeating,                   :name => 'calendar_item[repeating]'
= form.hidden_field :repeat_interval_multiplier,  :name => 'calendar_item[repeat_interval_multiplier]'
= form.hidden_field :repeat_interval_granularity, :name => 'calendar_item[repeat_interval_granularity]'
= form.hidden_field :repeat_end,                  :name => 'calendar_item[repeat_end]'
= form.hidden_field :title,                       :name => 'calendar_item[title]'
= form.hidden_field :start_time,                  :name => 'calendar_item[start_time]', :value => @calendar_item.start_time.strftime("%H:%M")
= form.hidden_field :end_time,                    :name => 'calendar_item[end_time]',   :value => @calendar_item.end_time.strftime("%H:%M")
= form.hidden_field :date,                        :name => 'calendar_item[date]'
= form.hidden_field :location,                    :name => 'calendar_item[location]'
= form.hidden_field :body,                        :name => 'calendar_item[body]'
= form.hidden_field :commentable,                 :name => 'calendar_item[commentable]'

- if current_user.has_role?('editor')
  = form.hidden_field :editor_comment

= category_hidden_fields form

= approval_field
