<% if params[:continue] %>
 <%= javascript_tag "treePanel.refreshNodesOf(#{@parent_node.id})" -%>
<% end %>

<div class="right_panel_content">
  <h1><%= t(@calendar_item.is_a?(Meeting) ? 'calendars.add_meeting_to' : 'calendars.add_calendar_item_to') -%> '<%=h @parent_node.content.content_title -%>'.</h1>

  <% admin_remote_form_for :calendar_item, @calendar_item,
    :url => @calendar_item.is_a?(Meeting) ? admin_meetings_path(:format => 'html', :parent_node_id => @parent_node.id) : admin_calendar_items_path(:format => 'html', :parent_node_id => @parent_node.id),
    :method => :post,
    :update => 'right_panel_body' do |f| %>

    <%= error_messages_for :calendar_item %>

    <%= f.check_box :repeating, :label => t('calendars.repeating'), :onclick => 'toggleRepeatingCalendarItemFields()' %>

    <div id="repeatingCalendarItemFields" <%= "style='display:none;'" unless @calendar_item.repeating? -%>>
      <div id="repeat_interval" class="formFieldCt clearfix">
        <label for="repeat_interval"><%=t 'calendars.every' -%></label>
        <%= f.select :repeat_interval_multiplier,  @repeat_interval_multipliers, {}, { :id => 'repeat_interval' } -%>
        <%= f.select :repeat_interval_granularity, @repeat_interval_granularities -%>
      </div>

      <%= f.date_field :repeat_end, :label => t('calendars.repeat_end'), :value => @calendar_item.repeat_end || Date.today + 1.day %>
    </div>

    <%= render :partial => '/admin/calendar_items/form', :object => f %>

    <%= f.submit(t(@calendar_item.is_a?(Meeting) ? 'calendars.save_and_continue_meeting' : 'calendars.save_and_continue_calendar_item'), :onclick => "$('commit_type').setValue('save'); $('continue').setValue('true'); return true;") -%>

    <%= hidden_field_tag(:continue) -%>

    <% javascript_tag do %>
      var repeatingCalendarItemFields = Ext.get('repeatingCalendarItemFields');

      repeatingCalendarItemFields.setVisibilityMode(Ext.Element.DISPLAY);

      toggleRepeatingCalendarItemFields = function() {
        repeatingCalendarItemFields.toggle();
      }
    <% end %>
  <% end %>
</div>
