- if logged_in? && current_user.has_role?("admin", "editor", "final_editor")
  / Admin toolbox
  #admin_tools
    %ul
      - if @node && current_user.role_on(@node)
        %li
          = image_tag 'icons/eye.png', :class => 'icon', :alt => I18n.t('layouts.lookup_alt'), :title => I18n.t('layouts.lookup_title')
          = link_to I18n.t('layouts.lookup'), admin_nodes_path(:active_node_id => @node.id)
      - else
        %li
          = image_tag 'icons/pencil.png', :class => 'icon', :alt => I18n.t('layouts.administration_alt'), :title => I18n.t('layouts.administration_title')
          = link_to I18n.t('layouts.administration'), admin_nodes_path
      %li
        = image_tag 'icons/user_go.png', :class => 'icon', :alt => I18n.t('layouts.log_out_alt'), :title => I18n.t('layouts.log_out_title')
        = link_to I18n.t('layouts.log_out'), logout_path, :class => 'logout'
