%h2= t 'categories.favorites'

- if current_user.categories.empty?
  %p= t 'categories.no_favorites'

- else
  %table
    %tr
      %th= t 'categories.program'
      %th= t 'categories.project'
      %th.actions

    - current_user.categories.each do |category|
      %tr
        - if category.is_root_category?
          %td= category.name
          %td= t 'categories.root_category'
        - else
          %td= category.parent.name
          %td= category.name

        %td
          %div= hidden_field_tag :category_id, category.id, :id => nil
          = link_to(image_tag('icons/remove_from_favorites.png', :alt => t('categories.remove_from_favorites')), '#', :class => 'remove_category_combination_from_favorites_link', :title => t('categories.remove_from_favorites'))
          = insert_category_combination_link(category)
