%html
  %head
    %meta{ :content => 'text/html; charset=ISO-8859-1', 'http-equiv' => 'content-type' }/
  %body{ :bgcolor => '#d9eaf2', :leftmargin => '0', :marginheight => '0', :marginwidth => '0', :offset => '0', :style => 'background-color: #d9eaf2;', :topmargin => '0' }
    / begin container
    %table#top{ :bgcolor => '#d9eaf2', :cellpadding => '0', :cellspacing => '0', :style => 'background-color: #d9eaf2;', :width => '95%' }
      %tbody
        %tr
          %td{ :align => 'center', :valign => 'top' }
            %table{ :bgcolor => '#d9eaf2', :cellpadding => '0', :celspacing => '0', :width => '600' }
              %tbody
                %tr
                  %td{ :style => 'font-size: 10px; font-family: Arial, Helvetica, sans-serif; color: #80a4b2; text-align: center;' }
                    %p{ :style => 'margin-top: 12px; margin-bottom: 2px; line-height: 17px;' }
                      Deze nieuwsbrief onleesbaar? Voeg ons verzendadres toe aan uw lijst van veilige afzenders of bekijk de
                      = succeed '.' do
                        %a{ :href => content_node_url(@newsletter_edition.node), :style => 'text-decoration: underline; color: #80a4b2;', :title => 'De nieuwsbrief op de website' } online versie
            %table{ :bgcolor => '#ffffff', :cellpadding => '0', :cellspacing => '0', :style => 'color: rgb(0, 0, 0); border: 1px solid #c9e2ec;', :width => '600' }
              %tbody
                - if @newsletter_edition.header.present?
                  / begin header
                  %tr
                    %td{ :style => 'padding-top: 0; padding-left: 30px; padding-bottom: 25px; padding-right: 30px;' }
                      %table{ 'border-collapse' => 'collapse', :cellpadding => '0', :cellspacing => '0', :height => '118', :width => '540' }
                        %tbody
                          %tr
                            %td{ :height => '118' }
                              %img{ :align => 'left', :alt => @newsletter_edition.header.content.alt, :border => '0', :src => content_node_url(@newsletter_edition.header, :action => 'newsletter_banner', :format => :jpg), :style => 'margin-right: 0; display: block;' }/
                  / end of header
                / begin content
                %tr
                  %td{ :bgcolor => '#ffffff', :style => 'font-size: 11px; line-height: 15px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; padding-left: 30px; padding-right: 30px; padding-bottom: 10px;', :valign => 'top' }
                    %h1{ :style => "font-family: trebuchet ms; font-size: 22px; color: $default;" }
                      = h @newsletter_edition.title
                    %p
                      = w @newsletter_edition.body
                    - for item in @newsletter_edition.items
                      %h2{ :style => "line-height: 13px; font-size: 19px; color: $default;" }
                        = h item.title
                      %p{ :style => 'margin-top: 7px; margin-bottom: 3px;' }
                        - if item.respond_to?(:preamble) && item.preamble.present?
                          = w item.preamble
                        - else
                          = w item.body
                      %p{ :style => 'margin-bottom: 16px; margin-top: 4px;' }
                        %a{ :href => content_node_url(item.node), :style => 'text-decoration: none;', :title => 'Naar volledig artikel' }
                          %img{ :alt => 'Volledig artikel', :border => '0', :height => '15', :src => 'https://'+@host+'/assets/newsletter/volledig_artikel.png', :width => '88' }/
                / end content
        %tr
          %td
            \ 
            / bottom spacing
    / end container
