<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
  </head>
  <body leftmargin="0" topmargin="0" offset="0" bgcolor="#d9eaf2" marginheight="0" marginwidth="0" style="background-color: #d9eaf2;">

    <!-- begin container -->
    <table width="95%" bgcolor="#d9eaf2" cellpadding="0" cellspacing="0" id="top" style="background-color: #d9eaf2;">
      <tbody>

        <tr>
          <td valign="top" align="center">

            <table width="600" cellpadding="0" celspacing="0" bgcolor="#d9eaf2">
              <tbody>
                <tr>
                  <td style="font-size: 10px; font-family: Arial, Helvetica, sans-serif; color: #80a4b2; text-align: center;">
                    <p style="margin-top: 12px; margin-bottom: 2px; line-height: 17px;">
                      Deze nieuwsbrief onleesbaar? Voeg ons verzendadres toe aan uw lijst van veilige afzenders of bekijk de 
                      <a href="<%=aliased_or_delegated_url(@newsletter_edition.node)-%>" style="text-decoration: underline; color: #80a4b2;" title="De nieuwsbrief op de website">online versie</a>.
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>

            <table width="600" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="color: rgb(0, 0, 0); border: 1px solid #c9e2ec;">
              <tbody>
                <!-- begin header -->
                <tr>
                  <td style="padding-top: 0; padding-left: 30px; padding-bottom: 25px; padding-right: 30px;">
                    <table cellpadding="0" cellspacing="0" width="540" height="118" border-collapse="collapse">
                      <tbody>
                        <tr>
                          <td height="118">
                            <img src="<%='http://'+@host+'/assets/newsletter/' + @newsletter_edition.newsletter_archive.header -%>" alt="Foto's van de gemeente" align="left" border="0" style="margin-right: 0;">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>

                <!-- end of header -->
                <!-- begin content -->
                <tr>
                 <td style="font-size: 11px; line-height: 15px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; padding-left: 30px; padding-right: 30px; padding-bottom: 10px;" valign="top" bgcolor="#ffffff">
                   
                  <h1 style="font-family: trebuchet ms; font-size: 22px; color: #0076af;">
                    <%=h @newsletter_edition.title -%>
                  </h1>

                  <p>
                    <%=w @newsletter_edition.body -%>
                  </p>

                  <% for item in @newsletter_edition.items -%>
                    <h2 style="line-height: 13px; font-size: 19px; color: #0076af;">
                      <%=h item.title -%>
                    </h2>

                    <p style="margin-top: 7px; margin-bottom: 3px;">
                    <% if item.respond_to?(:preamble) && item.preamble.present? -%>
                      <%=w item.preamble %>
                    <% else -%>
                      <%=w item.body %>
                    <% end -%>
                    </p>

                    <p style="margin-bottom: 16px; margin-top: 4px;">
                      <a href="<%=aliased_or_delegated_url(item.node) -%>" style="text-decoration: none;" title="Naar volledig artikel"><img border="0" src="<%='http://'+@host+'/assets/newsletter/volledig_artikel.png'-%>" height="15" width="88" alt="Volledig artikel"></a>
                    </p>
                  <% end %>
                 </td>
                </tr>
                <!-- end content -->
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            &nbsp;<!-- bottom spacing -->
          </td>
        </tr>
      </tbody>
    </table>
    <!-- end container -->
  </body>
</html>
