.regularPage.forum
  %h2= h @forum.title

  - if @forum.description
    .htmlField.forumDescription
      = w @forum.description

  .forumTopicsOverview
    %h3= t 'forums.forum_topics'

    - if @forum_topics.blank?
      %p= t 'forums.no_topics'

    - else
      .forumTopics
        - @forum_topics.each do |forum_topic|
          %div{ :class => "#{cycle('oddForumTopic', 'evenForumTopic')} clearfix" }
            %h4= link_to h(forum_topic.title), '#'

            .forumTopicDescription
              = truncate(strip_tags(forum_topic.description), :length => 80)

            .forumTopicDetails
              %p= "#{t 'forums.number_of_threads'}: #{forum_topic.forum_threads.count}"
              - unless forum_topic.forum_threads.empty?
                %p= "#{t 'forums.last_reply'}: #{forum_topic.last_update_date.to_s(:long)}"
