%h1= h @contact_form.title

- if @contact_form.description_before_contact_fields
  .htmlField.contactFieldDescription
    = w @contact_form.description_before_contact_fields

- if @errors.any?
  %p.general_form_error
    %b= t 'contact_forms.should_enter_valid_data'

= form_tag "/contact_forms/#{@contact_form.id}/send_message", method: :post, multipart: @contact_form_fields.any? { |field| field.field_type == 'file' } do
  %table.contact_form_field
    %caption= 'Contactformulier velden'

    %tr
      %td= render_honeypot

    - @contact_form_fields.each do |contact_form_field|
      %tr
        - if contact_form_field.subtitle?
          %td{ colspan: 3 }
            %h2= contact_form_field.label
        - else
          %td
            - if contact_form_field.multiselect?
              = label_tag "contact_form_field[#{contact_form_field.id}][#{contact_form_field.default_value.split(',').first.parameterize}]", contact_form_field.label
            - else
              = label_tag "contact_form_field_#{contact_form_field.id}", contact_form_field.label
          %td
            - match = @entered_fields.find { |f| f[:id] == contact_form_field.id }
            - value = match ? match[:value] : contact_form_field.default_value
            - case contact_form_field.field_type
            - when 'textarea'
              = text_area_tag "contact_form_field_#{contact_form_field.id}", value, name: "contact_form_field[#{contact_form_field.id}]", rows: 7, cols: 42, class: 'contact_field'
            - when 'textfield', 'email_address'
              = text_field_tag "contact_form_field_#{contact_form_field.id}", value, name: "contact_form_field[#{contact_form_field.id}]", class: 'contact_field'
            - when 'dropdown'
              = select_tag "contact_form_field_#{contact_form_field.id}", options_for_select(contact_form_field.default_value.split(','), match ? match[2] : ''), name: "contact_form_field[#{contact_form_field.id}]", class: 'contact_field'
            - when 'multiselect'
              %fieldset
                %legend= contact_form_field.label
                - values = params[contact_form_field.label.parameterize.to_s] || {}
                - contact_form_field.default_value.split(',').each do |choice|
                  #{check_box_tag "contact_form_field[#{contact_form_field.id}][]", choice.to_s, values[choice.parameterize.to_s] == '1', id: "contact_form_field_#{contact_form_field.id}_#{choice.parameterize}"} #{label_tag "contact_form_field[#{contact_form_field.id}][#{choice.parameterize}]", choice}
                  %br
            - when 'date'
              = text_field_tag "contact_form_field_#{contact_form_field.id}", value, name: "contact_form_field[#{contact_form_field.id}]", class: 'contact_field datepicker'
            - when 'file'
              = file_field_tag "contact_form_field_#{contact_form_field.id}", name: "contact_form_field[#{contact_form_field.id}]", class: 'contact_field'
          - if contact_form_field.obligatory?
            %td.obligatory *
          - else
            %td.obligatory 
          - if @errors.has_key?(contact_form_field.id)
            %td.error= @errors[contact_form_field.id]

    %tr
      %td
      %td= submit_tag t('contact_forms.send')

- if @contact_form.description_after_contact_fields
  .htmlField.contactFieldDescription
    = w @contact_form.description_after_contact_fields
