- content_for :javascript do
  = calendar_date_select_includes :locale => :nl

%h1= h @contact_form.title

- if @contact_form.description_before_contact_fields
  .htmlField.contactFieldDescription
    = w @contact_form.description_before_contact_fields

- if @obligatory_error
  %p
    %b= t 'contact_forms.should_enter_obligatory_fields'

= form_tag "/contact_forms/#{@contact_form.id}/send_message", :method => :post, :multipart => @contact_form_fields.any?{|field| field.field_type == 'file' } do
  %table.contact_form_field
    %caption= "Contact formulier velden"

    = render_honeypot

    - @contact_form_fields.each do |contact_form_field|
      %tr
        %td= label_tag "contact_form_field_#{contact_form_field.id}", contact_form_field.label
        %td
          - match = @entered_fields.find { |f| f.first == contact_form_field.id }
          - value = match ? match[2] : contact_form_field.default_value
          - if contact_form_field.field_type == 'textarea'
            = text_area_tag "contact_form_field_#{contact_form_field.id}", value, :name => "contact_form_field[#{contact_form_field.id}]", :rows => 7, :cols => 42, :class => 'contact_field'
          - elsif contact_form_field.field_type == 'textfield'
            = text_field_tag "contact_form_field_#{contact_form_field.id}", value, :name => "contact_form_field[#{contact_form_field.id}]", :class => 'contact_field'
          - elsif contact_form_field.field_type == 'dropdown'
            = select_tag "contact_form_field_#{contact_form_field.id}", options_for_select(contact_form_field.default_value.split(','), match ? match[2] : ''), :name => "contact_form_field[#{contact_form_field.id}]", :class => 'contact_field'
          - elsif contact_form_field.field_type == 'multiselect'
            - values = params[contact_form_field.label.parameterize.to_s] || {}
            - contact_form_field.default_value.split(', :id => "selector"').each do |choice|
              #{check_box_tag "contact_form_field[#{contact_form_field.id}][]", choice.to_s, values[choice.parameterize.to_s] == '1'} #{label_tag "contact_form_field[#{contact_form_field.id}][#{choice.parameterize}]", choice}
              %br
          - elsif contact_form_field.field_type == 'date'
            = calendar_date_select_tag "contact_form_field_#{contact_form_field.id}", value, :name => "contact_form_field[#{contact_form_field.id}]", :class => 'contact_field'
          - elsif contact_form_field.field_type == 'file'
            = file_field_tag "contact_form_field_#{contact_form_field.id}", :name => "contact_form_field[#{contact_form_field.id}]", :class => 'contact_field'
        %td.obligatory
          = contact_form_field.obligatory? ? '*' : ''

    %tr
      %td
      %td= submit_tag t('contact_forms.send')

- if @contact_form.description_after_contact_fields
  .htmlField.contactFieldDescription
    = w @contact_form.description_after_contact_fields
