%h1= h @contact_form.title

- if @contact_form.description_before_contact_fields
  .htmlField.contactFieldDescription
    = w @contact_form.description_before_contact_fields

- if @obligatory_error
  %p
    %b= t 'contact_forms.should_enter_obligatory_fields'

- form_tag "/contact_forms/#{@contact_form.id}/send_message", :method => :post do
  %table.contact_form_field
    - for contact_form_field in @contact_form_fields
      %tr
        %td= label_tag "contact_form_field_#{contact_form_field.id}", contact_form_field.label
        %td
          - match = @entered_fields.find { |f| f.first == contact_form_field.id }
          - value = match ? match[2] : contact_form_field.default_value
          - if contact_form_field.field_type == 'textarea'
            = text_area_tag "contact_form_field_#{contact_form_field.id}", value, :name => "contact_form_field[#{contact_form_field.id}]", :rows => 7, :cols => 42, :class => 'contact_field'
          - elsif contact_form_field.field_type == 'textfield'
            = text_field_tag "contact_form_field_#{contact_form_field.id}", value, :name => "contact_form_field[#{contact_form_field.id}]", :class => 'contact_field'
          - elsif contact_form_field.field_type == 'dropdown'
            = select_tag "contact_form_field_#{contact_form_field.id}", options_for_select(contact_form_field.default_value.split(','), match ? match[2] : ''), :name => "contact_form_field[#{contact_form_field.id}]", :class => 'contact_field'
          - elsif contact_form_field.field_type == 'multiselect'
            = select_tag "contact_form_field_#{contact_form_field.id}", options_for_select(contact_form_field.default_value.split(','), match ? match[2] : ''), :name => "contact_form_field[#{contact_form_field.id}][]", :class => 'contact_field', :multiple => true
        %td.obligatory
          = contact_form_field.obligatory? ? '*' : ''

    %tr
      %td
      %td= submit_tag t('contact_forms.send')

- if @contact_form.description_after_contact_fields
  .htmlField.contactFieldDescription
    = w @contact_form.description_after_contact_fields
