.regularPage.pollQuestion
  %h2= h @poll_question.poll.title

  .metadata.clearfix
    %p.publicationDate
      #{t 'shared.published'}:
      = l @poll_question.publication_start_date, format: :long

    - unless @poll_question.new_record?
      %p.lastUpdateDate
        #{t 'shared.last_updated'}:
        = l @poll_question.updated_at, format: :long

  = render partial: '/admin/poll_questions/question', object: @poll_question
