<h1>Content indeling</h1>
<p> Sleep content vanuit de boom naar de verschillende paginadelen hieronder.
    Lege delen erven de indeling van bovenliggende content.</p>

<div class="clearfix"> 
    <div class="targets">
    <%= render :file => @layout.targets_partial(@variant) %>
    </div>
    <div id="custom_representations" class="targets"></div>
</div>

<script type="text/javascript">
  sorters = []
  <% @layout.targets_for_variant(@variant).each do |target, config| %>
      <% targetable = (config["main_content"] == true && @node.content_type == "Section") %>
      /* Create the sorters */
      sorters.push(new Ext.dvtr.Sorter({
        target: '<%= target -%>',
        renderTo: '<%= target -%>',
        height: <%= config["height"] %>,
        width: <%= config["width"] %>,
        targetable: <%= targetable %>,
        items: <%= raw (@current_sortlets && @current_sortlets[target] ? @current_sortlets[target].to_json : '[]') %>,
        maxItems: <%= config["max_items"] || -1 %>,
        representation: '<%= config["representation"] %>',
        ddGroup: 'TreeAndSorterDD',
        node: <%= raw @node.to_tree_node_for(current_user).to_json %>,
        disabled: <%= !(current_user.has_role?("admin") || targetable) %>,
        border: false
      }));
  <% end %>
  
    custom_representations_sorter = new Ext.dvtr.Sorter({
      title: "Speciale boxes",
      target: 'custom_representations',
      renderTo: 'custom_representations',
      height: 240,
      width: 160,
      items: <%= raw (@current_sortlets && @current_sortlets[:custom_representations] ? @current_sortlets[:custom_representations].to_json : '[]') %>,
      maxItems: -1,
      ddGroup: 'TreeAndSorterDD',
      border: 2
    })
    
    custom_representations_sorter.on('validatedrop', validateRepresentation)
  
  /* Bind the event handlers to all sorters */
  Ext.each(sorters, function(col){
      col.on('validatedrop', validateRepresentation)
      col.on('drop', function(e){ if(!(e.sortlet && e.sortlet.custom_representation == true)) e.sortlet.tools.close.show(); })
  });  
  
</script>
