<div class="right_panel_content">

  <h1><%= "#{t 'images.add_images_to'} '#{h @parent_node.content.title}'" %></h1>

  <div id="right_panel_form" class="clearfix">
  <%= render :partial => 'form', :locals => { :show_image_url_control => @show_image_url_control } %>
  </div>

  <!-- hidden iframe to enable regular posts instead of ajax posts -->
  <iframe name="upload_target" style="height: 1px; width: 1px; border: 0px;"></iframe>
  <div id="bottom_container" class="clearfix">
  	<div id="uploaded_container" style="float: left; margin-right: 50px;">

		  <h2><%=t 'images.uploaded_images' -%></h2>
		  <table id="uploaded_images" class="uploaded_images_table">
		    <thead>
				<th><%=t 'shared.title' -%></th>
				<th><%=t 'images.thumbnail' -%></th>
				<% if current_user.has_role?('admin') %><th><%=t 'images.for_header' -%></th><% end %>
				<th><%=t 'images.cropped' -%></th>
			</thead>
			<tbody>
		    <% if @sibling_images.empty? %>
		      <tr id="no_images_row"><td colspan="<%= current_user.has_role?('admin') ? '4' : '3' %>"><i><%=t 'images.no_images' -%></i></td></tr>
		    <% else %>
		      <% @sibling_images.each_with_index do |image, i| %>
		      	<% unless !current_user.has_role?('admin') && image.is_for_header? %>
		          <tr id="image_<%= image.id -%>">
  		          <td><%= h(image.title) %></td>
  		          <td><%= image_tag(thumbnail_admin_image_path(image, :format => :jpg), :alt => h(image.alt)) %></td>
  		         	<% if current_user.has_role?('admin') %>
  			  	    <td>
  		            <%= check_box_tag("image_is_for_header_#{image.id}", '1', image.is_for_header?,
  		                  :onchange => "this.disable();" +
  		                  remote_function(:url => admin_image_path(image, :format => :jpg), :method => :put, :complete => "$('image_is_for_header_#{image.id}').enable();", :with => "'image[is_for_header]='+$F('image_is_for_header_#{image.id}')")+
  		                  "; return false;")
  		            %>
		            </td>
		            <% end %>
		            <td>
		              <div id="image_cropper_<%= image.id -%>" class="cropper">
		              <% is_header = (i==0 && @parent_node.content_type == 'NewsItem') %>
                  	  <% if image.orientation == :vertical || is_header %>
                  		<%= render :partial => 'cropper', :locals => {:image => image, :is_header => is_header } %>
                  	  <% end %>
                  	  </div>
	              </td>
		          </tr>
		        <% end %>
		      <% end %>
		    <% end %>
		  </table>
	  </div>
  </div>
  <div class="clearfix">
    <%= button_to_function t('images.done_btn'), "Ext.ux.showRightPanelMssg('#{escape_javascript(t('images.done'))}')" %>
  </div>
</div>
