.forumFormPage
  %h1
    %span.prefix= t 'forums.forum_topic'
    = link_to h(@forum_topic.title), @forum_topic

  .htmlField.forumThreadBody
    = w @forum_topic.description

  .forumForm
    %h2= t 'forums.update_forum_thread'

    = form_for [ @forum_topic, @forum_thread ] do |f|
      = render :partial => 'form', :locals => { :f => f }
      %p.clearfix
        = submit_tag t('forums.submit'), :class => 'submit'
