.opinionEntry
  %h1{ style: 'color:#55a447;' }
    = t('opinions.good')
  = form_for @opinion_entry, url: opinion_entries_path do |f|
    = hidden_field_tag 'feeling', @feeling
    = hidden_field_tag 'node_id', @redirectnode.id
    = hidden_field_tag 'opinion_id', @opinion.id
    = t('opinions.why', opinion: t('opinions.good2'))
    %br
    = radio_button_tag(:description, '1')
    = label_tag(:description_1, @opinion.entry_1_1)
    %br
    = radio_button_tag(:description, '2')
    = label_tag(:description_2, @opinion.entry_1_2)
    %br
    = radio_button_tag(:description, '3')
    = label_tag(:description_3, @opinion.entry_1_3)
    %br
    = radio_button_tag(:description, '4')
    = label_tag(:description_4, @opinion.entry_1_4)
    %br
    %br
    = t('opinions.before_text')
    %br
    = text_area_tag(:text, nil, size: "40x6")
    %br
    = submit_tag t('opinions.submit')
  = link_to t('opinions.annul'), content_node_path(@opinion.parent)
