%h2= t('opinions.good')
%fieldset
  = t('opinions.why', opinion: t('opinions.good2'))
  %br
  = radio_button_tag(:description, '1')
  = label_tag(:description_1, @opinion.entry_1_1)
  %br
  = radio_button_tag(:description, '2')
  = label_tag(:description_2, @opinion.entry_1_2)
  %br
  = radio_button_tag(:description, '3')
  = label_tag(:description_3, @opinion.entry_1_3)
  %br
  = radio_button_tag(:description, '4')
  = label_tag(:description_4, @opinion.entry_1_4)

%h2= t('opinions.neutral')
%fieldset
  = t('opinions.why', opinion: t('opinions.neutral2'))
  %br
  = radio_button_tag(:description, '1')
  = label_tag(:description_1, @opinion.entry_2_1)
  %br
  = radio_button_tag(:description, '2')
  = label_tag(:description_2, @opinion.entry_2_2)
  %br
  = radio_button_tag(:description, '3')
  = label_tag(:description_3, @opinion.entry_2_3)
  %br
  = radio_button_tag(:description, '4')
  = label_tag(:description_4, @opinion.entry_2_4)

%h2= t('opinions.bad')
%fieldset
  = t('opinions.why', opinion: t('opinions.bad2'))
  %br
  = radio_button_tag(:description, '1')
  = label_tag(:description_1, @opinion.entry_3_1)
  %br
  = radio_button_tag(:description, '2')
  = label_tag(:description_2, @opinion.entry_3_2)
  %br
  = radio_button_tag(:description, '3')
  = label_tag(:description_3, @opinion.entry_3_3)
  %br
  = radio_button_tag(:description, '4')
  = label_tag(:description_4, @opinion.entry_3_4)
%fieldset
  = t('opinions.before_text')
  %br
  = text_area_tag(:text, nil, size: "40x6")
