%fieldset.category_selection_fields
  .clearfix
    .root_category_selection_field
      .formFieldCt.clearfix
        = label_tag 'root_category_id', t('categories.program')
        - root_category_id = root_category.nil? ? nil : root_category.id
        = select_tag 'root_category_id', "<option>Leeg</option>#{options_from_collection_for_select(Category.root_categories.all, :id, :name, root_category_id)}", :id => nil

    .category_selection_field
      .formFieldCt.clearfix
        = label_tag "category_ids[]", t('categories.project')
        %select{ :name => "category_ids[]" }
          - unless root_category.nil?
            = render '/admin/categories/category_options', { :categories => categories, :default_id => root_category.id, :selected_id => category.id }
          - else
            %option

    .category_selection_field_actions
      = link_to(image_tag('icons/add_to_favorites.png', :alt => t('categories.add_to_favorites')),   '#', :class => 'add_category_combination_to_favorites_link', :title => t('categories.add_to_favorites'))
      = link_to(image_tag('icons/delete.png',           :alt => t('categories.delete_combination')), '#', :class => 'remove_category_combination_link',           :title => t('categories.delete_combination'))

  .category_synonyms_field_wrapper
    - if category
      = render '/admin/categories/synonyms', { :category => category }
