- first_root_category = Category.root_categories.first

= hidden_field_tag :has_categories, true

- if first_root_category.present?
  #category_settings.clearfix
    - field_set_tag t('categories.settings') do
      #category_selection_fields_wrapper.clearfix
        - if content.categories.empty?
          = render '/admin/shared/category_selection_fields', { :categories => nil, :root_category => nil, :category => nil }

        - else
          - content.categories.each_with_index do |category, index|
            - if category.is_root_category?
              = render '/admin/shared/category_selection_fields', { :categories => category.children, :root_category => category, :category => category }
            - else
              - parent = category.parent
              = render '/admin/shared/category_selection_fields', { :categories => parent.children,   :root_category => parent,   :category => category }

      .category_combination_actions
        %fieldset#favorite_category_combinations
          = render '/admin/categories/favorites'
        - unless content.new_record?
          %p= insert_new_category_combination_link(first_root_category)

  - javascript_tag do
    javascriptifyCategoryFields();
