= render :partial => 'show'

.forms
  - remote_form_for object, :method => :get, :url => url_for(:controller => controller.controller_name, :action => :edit, :format => 'html'), :update => 'right_panel_body' do |form|
    = render :partial => 'preview_form', :locals => { :form => form }
    = form.submit t('shared.edit')

  - remote_form_for object, :url => url_for(:controller => controller.controller_name, :action => :update, :format => 'html'), :update => 'right_panel_body' do |form|
    = render :partial => 'preview_form', :locals => { :form => form }
    = form.submit t('shared.save')
