%div{ :style => "font-family: Arial, Helvetica, sans-serif; font-size: 12px;" }
  %p Beste #{@user.full_name},
  #{@text}
  %table
    %thead
      %th Titel
      %th Pad
      %th Laatst gewijzigd op
      %th Verlopen op
      %th &nbsp;
    %tbody
      %tr
        %td= link_to @node.content.title, aliased_or_delegated_url(@node, :host => @host)
        %td= @node.ancestors.all(:include => :content).collect{ |n| n.content.content_title }.join(" > ").to_s
        %td= @node.updated_at
        %td= @node.expires_on
        %td= link_to I18n.t('layouts.lookup'), admin_nodes_url(:active_node_id => @node.id, :host => @host)

  %p
    Met vriendelijke groet,
    %br
    %br
    Het #{@host} team
