<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" lang="nl">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=8" />
        <title><%= I18n.t('layouts.control_panel') -%></title>
        <link rel="SHORTCUT ICON" href="http://<%= h(Settler[:host]) %>/favicon.ico" type="image/vnd.microsoft.icon" />
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="language" content="NL"/>

        <%= stylesheet_link_tag '/libraries/ext/resources/css/ext-all.css' %>

        <%= stylesheet_link_tag 'admin' %>

        <%= javascript_include_tag 'devcms_core_admin', '/libraries/tiny_mce/reset_tiny_mce.js', '/libraries/tiny_mce/tiny_mce.js' %>        
              
        <%= calendar_date_select_includes :locale => :nl %>
        
        <!-- Include Ext Js-->
        <%= javascript_include_tag '/libraries/ext/adapter/ext/ext-base.js', (Rails.env.development? ? '/libraries/ext/ext-all-debug.js' : '/libraries/ext/ext-all.js') %>
        <%= javascript_include_tag 'extjs.js' %>
        <!-- Init Ext Js -->

        <%= javascript_include_tag 'ext/dvtr/TreeNodeContextMenu', 'ext/dvtr/VirtualTreeNodeContextMenu',
          'ext/dvtr/MultipleTreeNodeContextMenu', 'ext/dvtr/Panel', 'ext/dvtr/TreeLoader',
          'ext/dvtr/AsyncContentTreeNode', 'ext/dvtr/AsyncVirtualTreeNode', 'ext/dvtr/Sorter',
          'ext/dvtr/ContentNodeFormPanel', 'ext/dvtr/Sortlet', 'ext/dvtr/NodeDropField', 'ext/dvtr/RemovableTextField', 'ext/dvtr/RemovableFieldSet',
          '/libraries/ext/ux/ext-extensions.js', '/libraries/ext/ux/grid/SmartCheckboxSelectionModel.js' %>

    </head>
    <body>
        <div class="clearfix" id="header">
            <%= render '/admin/header' -%>
            <div class="properties_box" id="logged_in_box">
                <div class="top_bar">
                    <%= link_to I18n.t('layouts.logout'), logout_path, :class => 'align_right' %>
                    <h1><%= I18n.t('layouts.logged_in_as') %>: <%=h current_user.login -%></h1>
                </div>
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <th><%= I18n.t('layouts.email') %></th>
                        <td><%=h current_user.email_address -%></td>
                    </tr>
                    <tr>
                        <th><%= I18n.t('layouts.roles') %></th>
                        <td><%=h current_user.role_assignments.collect {|ra|"#{RoleAssignment::ROLES[ra.name.intern]} van #{ra.node.content.content_title}"}.to_sentence -%></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="top_bar menu" id="menu">
            <%= create_admin_menu -%>
        </div>

        <%= yield %>
    </body>
</html>

