<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" lang="nl">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="language" content="NL"/>
    <title><%=h [Settler[:site_name], @page_title].compact.join(' | ') -%></title>
    <link rel="SHORTCUT ICON" href="http://<%= h(Settler[:host]) %>/favicon.ico" type="image/vnd.microsoft.icon" />
    
    <%= stylesheet_link_tag :application -%>    
    <%= javascript_include_tag('devcms_core') %>    
    <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" -%>
    <%= yield :javascript %>
    <%= yield :atom_feed %>
</head>
<body id="plain">

    <div id="main-content-plain">
        <% if @node.present? %>
          <%= bread_crumbs_for(@node, :include_root => false, :minimum_crumbs => 2) %>
        <% end %>
        <%= yield_flash -%>
        <%= yield -%>
        &nbsp;
    </div>

    <!-- google analytics code -->
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E")); 
    </script> 
    <script type="text/javascript">
        var pageTracker = _gat._getTracker("<%= escape_javascript(Settler[:google_analytics_key]) %>"); 
        pageTracker._initData();
        pageTracker._trackPageview(); 
    </script>

</body>
</html>
