<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" lang="nl">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="language" content="NL" />
    <meta name="robots" content="noindex" />
    <title><%= t 'layouts.print' -%>: <%= [@page_title, Settler[:site_name]].compact.join(' | ') -%></title>
    <link rel="shortcut icon" href="//<%= h(Settler[:host]) %>/favicon.ico" type="image/vnd.microsoft.icon" />
    <%= canonical_link %>

    <%= stylesheet_link_tag :print, media: 'all' -%>
    <%= javascript_include_tag('application', 'print') %>
  </head>

  <body>
    <div id="content">
      <div id="header"></div>
      <div class="clearfix">
        <%= yield -%>
      </div>
      <div id="footer">
        <%= t 'layouts.source' -%>: <%= @node ? content_node_url(@node) : (request.url || t('layouts.unknown')) -%>
      </div>
    </div>
  </body>
</html>
