<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" lang="nl">
    <head>
        <title><%=h I18n.t('layouts.print') -%>: <%=h [I18n.t('layouts.title'), @page_title].compact.join(' | ') %></title>
        <link rel="SHORTCUT ICON" href="http://<%= h(Settler[:host]) %>/favicon.ico" type="image/vnd.microsoft.icon" />
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="language" content="NL"/>
        <%= stylesheet_link_merged :print, :media => "all" -%>
        <%= javascript_include_tag('prototype.js', 'print.js', :cache => 'cache-print', :plugin => 'devcms-core') %>
    </head>
    <body>
      <div id="content">
        <div id="header">
        </div>
        <div class="clearfix">
            <%= yield -%>
        </div>
        <div id="footer">
            <%= I18n.t('layouts.source') -%>: <%= @node ? content_node_url(@node) : (request.url || I18n.t('layouts.unknown'))-%>
        </div>
      </div>
    </body>
</html>
